#page-footer {
  min-height: 266px;

  @media(max-width: $tablet-breakpoint) {
    min-height: 174px;
  }

  @media(max-width: $mobile-breakpoint) {
    min-height: auto;
    padding-bottom: 75px;
  }

  &, .inner-container {
    background-color: $header-footer-blue;
  }

  .inner-container {
    max-width: 1180px;
    width: 97%;
    padding: 0;
    @include clearfix;

    @media(max-width: $tablet-breakpoint) {
      width: 94%;
    }

    @media(max-width: $mobile-breakpoint) {
      width: 82%;
      padding-top: 30px;
      padding-bottom: 37px;
    }
  }

  .footer-section {
    float: left;
    max-width: 590px;
    width: 45%;
    margin-top: 70px;

    @media(max-width: $tablet-breakpoint) {
      width: 48%;
      margin-top: 40px;
    }

    @media(max-width: $mobile-breakpoint) {
      width: 100%;
      margin-top: 0;
    }

    &:first-child {
      width: 55%;

      @media(max-width: $tablet-breakpoint) {
        width: 52%;
      }

      @media(max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }
  }

  img, svg {
    float: left;
    margin-top: -10px;

    @media(max-width: $tablet-breakpoint) {
      margin-top: -6px;
    }

    @media(max-width: $mobile-breakpoint) {
      position: relative;
      left: 50%;
      margin-top: 0;
    }
  }

  .groundwork-footer {
    width: 95%;
    max-width: 525px;
    margin-right: 5%;

    @media(max-width: $tablet-breakpoint) {
      margin-right: 0;
      width: 100%;
    }

    @media(max-width: $mobile-breakpoint) {
      max-width: none;
    }

    svg {
      margin-right: 23px;
      margin-bottom: 135px;
      width: 221px;

      .cls-3{
        font-family: $header-bold;
        font-weight: 500;
      }


      @media(max-width: $tablet-breakpoint) {
        width: 135px;
        height: auto;
        margin-right: 13px;
        margin-bottom: 100px;
      }

      @media(max-width: $mobile-breakpoint) {
        width: 162px;
        margin-left: -81px;
        margin-right: 0;
        margin-bottom: 14px;
      }
    }
  }

  .tetrapak-footer {
    max-width: 456px;
    width: 90%;
    margin-left: 10%;

    @media(max-width: $mobile-breakpoint) {
      width: 100%;
      margin-left: 0;
    }

    @media(max-width: $mobile-breakpoint) {
      margin-top: 45px;
      max-width: none;
    }

    img {
      margin-right: 20px;
      margin-bottom: 58px;

      @media(max-width: $tablet-breakpoint) {
        margin-right: 12px;
        width: 71px;
        height: 71px;
      }

      @media(max-width: $mobile-breakpoint) {
        width: 87px;
        height: 87px;
        margin-left: -43px;
        margin-right: 0;
        margin-bottom: 14px;
      }
    }
  }

  p {
    color: #fcfcfc;
    font-family: $sans;
    font-size: 15px;
    line-height: 22px;
    padding: 0;

    @media(max-width: $tablet-breakpoint) {
      font-size: 12px;
      line-height: 15px;
    }

    @media(max-width: $tablet-breakpoint) {
      text-align: center;
      line-height: 14px;

      br {
        width: 100%;
        content: '';
        clear: both;
      }
    }
  }
}

#share-bar{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: -50px;
  transition: all .2s linear;
  z-index:2000;
  background-color: white;
  box-shadow : 0px 0px 14.78px rgba(0, 0, 0, 0.26);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;

  h5{
    margin-bottom: 0px;
  }
  
  .share-tray{
    width: 90%;
    padding: 10px 0px;
    max-width: 650px;
    margin: auto;
    background-color: white;
    height: 100%;

    .credit-content{
      float:left;
      width:auto;
    }

    .social-links{
      float:right;
      width: auto;
      position: relative;
      top: 9px;
    }
  }

  &.active{
    bottom: 0px;
  }
}