
/**
 * Modified responsive grid system by Chris Bracco
 * http://cbracco.me/a-simple-responsive-css-grid-system/
 */
 
@mixin clearfix {
	*zoom: 1;
	&:before, &:after { display: table; content: ""; }
	&:after { clear: both; }
}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: 0;}
html { font-size: 100%; }
.container { margin: 0; padding: 0; width: 100%; list-style: none; }
.row { margin: 0 -10px; }
.container, .row, .clearfix { @include clearfix; }

[class^="col-"], [class*=" col-"]  {
	position: relative;
	min-height: 1px;
}

.row.no-gutter {
	margin: 0;
	[class^="col-"], [class*=" col-"] { padding: 0; }
}

@media screen and ( min-width: $mobile-breakpoint ) {

	[class^="col-"], [class*=" col-"]  { 
		padding-left: 1.19%;
		padding-right: 1.19%;
		float: left;

		&.float-right {
			float: right;
		}
	}
	.col-1 { width: 8.333%; } .col-2 { width: 16.666%; } .col-3 { width: 25%; } .col-4 { width: 33.333%; } .col-5 { width: 41.666%; } .col-6 { width: 50%; } .col-7 { width: 58.333%; } .col-8 { width: 66.666%; } .col-9 { width: 75%; } .col-10 { width: 83.333%; } .col-11 { width: 91.666%; } .col-12 { width: 100%; }
	.push-1 { margin-left: 8.333%;  } .push-2 { margin-left: 16.666%; } .push-3 { margin-left: 25%; } .push-4 { margin-left: 33.333%; } .push-5 { margin-left: 41.666%; } .push-6 { margin-left: 50%; } .push-7 { margin-left: 58.333%; } .push-8 { margin-left: 66.666%; } .push-9 { margin-left: 75%; } .push-10 { margin-left: 83.333%; } .push-11 { margin-left: 91.666%; } .push-12 { margin-left: 100%; }
	.pull-1 { margin-left: -8.333%; } .pull-2 { margin-left: -16.666%; } .pull-3 { margin-left: -25%; } .pull-4 { margin-left: -33.333%; } .pull-5 { margin-left: -41.666%; } .pull-6 { margin-left: -50%; } .pull-7 { margin-left: -58.333%; } .pull-8 { margin-left: -66.666%; } .pull-9 { margin-left: -75%; } .pull-10 { margin-left: -83.333%; } .pull-11 { margin-left: -91.666%; } .pull-12 { margin-left: -100%; }

}

@media screen and ( min-width: $mobile-breakpoint ) and ( max-width: $small-desktop-breakpoint ) {
	.sm-col-1 { width: 8.333%; } .sm-col-2 { width: 16.666%; } .sm-col-3 { width: 25%; } .sm-col-4 { width: 33.333%; } .sm-col-5 { width: 41.666%; } .sm-col-6 { width: 50%; } .sm-col-7 { width: 58.333%; } .sm-col-8 { width: 66.666%; } .sm-col-9 { width: 75%; } .sm-col-10 { width: 83.333%; } .sm-col-11 { width: 91.666%; } .sm-col-12 { width: 100%; }
	.sm-push-0 { margin-left: 0; } .sm-push-1 { margin-left: 8.333%;  } .sm-push-2 { margin-left: 16.666%; } .sm-push-3 { margin-left: 25%; } .sm-push-4 { margin-left: 33.333%; } .sm-push-5 { margin-left: 41.666%; } .sm-push-6 { margin-left: 50%; } .sm-push-7 { margin-left: 58.333%; } .sm-push-8 { margin-left: 66.666%; } .sm-push-9 { margin-left: 75%; } .sm-push-10 { margin-left: 83.333%; } .sm-push-11 { margin-left: 91.666%; } .sm-push-12 { margin-left: 100%; }
}

@media screen and ( min-width: $mobile-breakpoint ) and ( max-width: $tablet-breakpoint ) {
	.tablet-col-1 { width: 8.333%; } .tablet-col-2 { width: 16.666%; } .tablet-col-3 { width: 25%; } .tablet-col-4 { width: 33.333%; } .tablet-col-5 { width: 41.666%; } .tablet-col-6 { width: 50%; } .tablet-col-7 { width: 58.333%; } .tablet-col-8 { width: 66.666%; } .tablet-col-9 { width: 75%; } .tablet-col-10 { width: 83.333%; } .tablet-col-11 { width: 91.666%; } .tablet-col-12 { width: 100%; }
	.tablet-push-0 { margin-left: 0; } .tablet-push-1 { margin-left: 8.333%;  } .tablet-push-2 { margin-left: 16.666%; } .tablet-push-3 { margin-left: 25%; } .tablet-push-4 { margin-left: 33.333%; } .tablet-push-5 { margin-left: 41.666%; } .tablet-push-6 { margin-left: 50%; } .tablet-push-7 { margin-left: 58.333%; } .tablet-push-8 { margin-left: 66.666%; } .tablet-push-9 { margin-left: 75%; } .tablet-push-10 { margin-left: 83.333%; } .tablet-push-11 { margin-left: 91.666%; } .tablet-push-12 { margin-left: 100%; }
}

@media screen and ( max-width: $mobile-breakpoint ) {
	.mobile-col-1 { width: 8.333%; } .mobile-col-2 { width: 16.666%; } .mobile-col-3 { width: 25%; } .mobile-col-4 { width: 33.333%; } .mobile-col-5 { width: 41.666%; } .mobile-col-6 { width: 50%; } .mobile-col-7 { width: 58.333%; } .mobile-col-8 { width: 66.666%; } .mobile-col-9 { width: 75%; } .mobile-col-10 { width: 83.333%; } .mobile-col-11 { width: 91.666%; } .mobile-col-12 { width: 100%; }
	.mobile-push-0 { margin-left: 0; } .mobile-push-1 { margin-left: 8.333%;  } .mobile-push-2 { margin-left: 16.666%; } .mobile-push-3 { margin-left: 25%; } .mobile-push-4 { margin-left: 33.333%; } .mobile-push-5 { margin-left: 41.666%; } .mobile-push-6 { margin-left: 50%; } .mobile-push-7 { margin-left: 58.333%; } .mobile-push-8 { margin-left: 66.666%; } .mobile-push-9 { margin-left: 75%; } .mobile-push-10 { margin-left: 83.333%; } .mobile-push-11 { margin-left: 91.666%; } .mobile-push-12 { margin-left: 100%; }
}