body.page-sub-nav-visible {
  > div, > section, > #page-footer, > #share-bar {
    display: none;
  }

  > .about-tab-content{
    display: block;
  }
}

#page-header {
  .page-nav-placeholder {
    height: 75px;

    @media(max-width: $tablet-breakpoint) {
      height: 51px;
    }

    @media(max-width: $mobile-breakpoint) {
      height: 35px;
    }

    body.page-sub-nav-visible & {
      height: 150px;

      @media(max-width: $tablet-breakpoint) {
        height: 102px;
      }

      @media(max-width: $mobile-breakpoint) {
        height: 70px;
      }
    }
  }

  .page-nav {
      background-color: $header-footer-blue;
      height: 75px;
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 110;

    @media(max-width: $tablet-breakpoint) {
      height: 51px;
    }

    @media(max-width: $mobile-breakpoint) {
      height: 35px;
    }

    .grid-button-container{

      cursor:pointer;
      width: 35px;
      height: 35px;
      float: left;
      position: relative;
      margin-top: 19px;

      img{
         position: absolute;
         z-index: 10;
         opacity: 0;
         width: 27px;
         left: 4px;
         top: 4px;
         @include transition (.25s opacity 0s ease-in-out);

         @media(max-width:$mobile-breakpoint){
            display: none;
         }
      }

      @media(max-width: $tablet-breakpoint){
         margin-top: 9px;
      }

      @media(max-width: $mobile-breakpoint) {
         background-image: url('../images/hamburger_nav.svg');
         width: 20px;
         height: 17px;
         margin-top: 9px;

         body.grid-nav-content-visible & {
            background-image: url('../images/x-blue.svg');
            margin-left: 2px;
            width: 20px;
            height: 20px;
            margin-top: 8px;
         }

          &:before, &:after{
            display: none !important;
         }

       }

      &:before, &:after{
         @include transition (.25s box-shadow 0s ease-in-out);
         content: '';
         display: inline-block;
         width: 9px;
         height: 9px;
         position: absolute;
         left: 0px;
         top: -9px;
         opacity: 1.0;
         box-shadow: 0px 9px #fff, 13px 9px #fff, 26px 9px #fff, 0px 22px #fff, 13px 22px #fff, 26px 22px #fff, 0px 35px #fff, 13px 35px #fff, 26px 35px #fff; 
      }

      &:hover{

         &:before, &:after{
            box-shadow: 4px 13px #fff, 13px 13px #fff, 22px 13px #fff, 4px 22px #fff, 13px 22px #fff, 22px 22px #fff, 4px 31px #fff, 13px 31px #fff, 22px 31px #fff;
            
         }   
      }

      &.active{
         &:before, &:after{
            box-shadow: 4px 13px #fff, 13px 13px #fff, 22px 13px #fff, 4px 22px #fff, 13px 22px #fff, 22px 22px #fff, 4px 31px #fff, 13px 31px #fff, 22px 31px #fff;
         }
         img{
            opacity: 1.0;
         }
      }
    }

    ul {
      max-width: 1180px;
      width: 98%;
      margin: 0 auto;

      @media(max-width: $tablet-breakpoint) {
        width: 78%;
        max-width: 596px;
      }

      @media(max-width: $mobile-breakpoint) {
        width: 92%;
      }

      li {
        list-style: none;
        float: left;
        width: 33%;

        .grid-nav {
          float: left;
          background-image: url('../images/grid_nav.svg');
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          margin-top: 19px;

          @media(max-width: $tablet-breakpoint) {
            margin-top: 8px;
          }

          @media(max-width: $mobile-breakpoint) {
            background-image: url('../images/hamburger_nav.svg');
            width: 20px;
            height: 17px;
            margin-top: 9px;

            body.grid-nav-content-visible & {
              background-image: url('../images/x-blue.svg');
              width: 15px;
              height: 15px;
              margin-top: 10px;
              margin-left: 2px;
            }
          }
        }

        .logo {
          display: block;
          width: 253px;
          height: 45px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          top: 15px;
          opacity: 1;
          text-decoration: none;

          @media(max-width: $tablet-breakpoint) {
            width: 198px;
            height: 35px;
            top: 8px;
          }

          @media(max-width: $mobile-breakpoint) {
            width: 121px;
            height: 22px;
            top: 7px;
          }

          #_Group_ path {
            opacity: 0;
            @include transition(opacity 0.08s linear);
          }

          &.loaded {
            
            #_Group_ path {
              opacity: 1;
            }

            $svg-path-transition-delay: 0s;
            @each $svg-path in #path6, #path9, #path13, #path16, #path17, #path15 {
              #{$svg-path} {
                @include transition-delay($svg-path-transition-delay);
                $svg-path-transition-delay: $svg-path-transition-delay + 0.08;
              }
            }
          }
        }

        .about {
          font-family: $header-bold;
          font-size: 15px;
          text-transform: uppercase;
          color: #fff;
          float: right;
          line-height: 36px;
          margin-top: 19px;
          letter-spacing: 2.4px;

          @media(max-width: $tablet-breakpoint) {
            margin-top: 0;
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 51px;
          }

          @media(max-width: $mobile-breakpoint) {
            font-size: 7px;
            letter-spacing: 1.3px;
            margin-top: 0;
            line-height: 35px;
          }

          body.page-sub-nav-visible & {
            text-indent: -9999px;
            background: url('../images/x-blue.svg') no-repeat;
            width: 36px;
            height: 36px;
            margin-right: 12px;

            @media(max-width: $tablet-breakpoint) {
              margin-top: 7px;
            }

            @media(max-width: $mobile-breakpoint) {
              background-size: 100%;
              width: 21px;
              height: 21px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }

  .page-sub-nav {
    width: 100%;
    background-color: #fffeff;
    @include clearfix;
    position: fixed;
    top: 75px;
    height: 0;
    overflow: hidden;
    z-index: 110;

    @media(max-width: $tablet-breakpoint) {
      top: 51px;
    }

    @media(max-width: $mobile-breakpoint) {
      top: 35px;
    }

    body.page-sub-nav-visible & {
      height: 75px;

      @media(max-width: $tablet-breakpoint) {
        height: 51px;
      }

      @media(max-width: $mobile-breakpoint) {
        height: 35px;
      }
    }

    ul {
      max-width: 1138px;
      width: 100%;
      margin: 0 auto;

      @media(max-width: $tablet-breakpoint) {
        max-width: 500px;
      }

      li {
        width: 50%;
        list-style: none;
        float: left;
        height: 75px;
        text-align: center;

        @media(max-width: $tablet-breakpoint) {
          height: 51px;
        }

        @media(max-width: $mobile-breakpoint) {
          height: 35px;
        }

        a {
          color: #000;
          font-size: 19px;
          line-height: 75px;
          font-family: $header-bold;
          text-decoration: none;
          letter-spacing: 3.4px;

          @media(max-width: $tablet-breakpoint) {
            line-height: 51px;
            font-size: $font-size-medium;
            letter-spacing: 2.8px;
          }

          @media(max-width: $mobile-breakpoint) {
            line-height: 35px;
            font-size: $font-size-extra-tiny;
            letter-spacing: 1.6px;
          }

          span {
            display: inline-block;
            border-bottom: 2px solid transparent;
            line-height: 39px;

            @media(max-width: $tablet-breakpoint) {
              line-height: 26px;
            }

            @media(max-width: $mobile-breakpoint) {
              line-height: 16px;
            }
          }
        }

        &.active a span {
          border-bottom-color: #000;
        }
      }
    }
  }

  .grid-nav-content {
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 110;
    height: 0;
    opacity: 0;
    overflow: auto;
    @include transition(height 0.2s linear, opacity 0.2s linear)
    background-color: rgba(33, 31, 31, 0.85);

    @media(max-width: $tablet-breakpoint) {
      top: 51px;
    }

    @media(max-width: $mobile-breakpoint) {
      top: 35px;

      .mobile-grid-nav-type {
        float: left;
        width: 100%;
        height: 36px;
        line-height: 40px;
        font-family: $sans-bold;
        background-color: #3e5bc5;
        font-size: 10px;
        padding-left: 15px;
        color: #fff;
        letter-spacing: 2px;
      }
    }

    body.grid-nav-content-visible & {
      height: 100%;
      opacity: 1.0;
      @media(max-width: $mobile-breakpoint) {
        padding-bottom: 35px;
      }
    }
    .grid-nav-content-inner-background {
      background-color: #fff;
    }

    .grid-nav-content-inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      @include clearfix;
      padding-bottom: 75px;

      @media(max-width: $tablet-breakpoint) {
        padding-bottom: 51px;
      }

      @media(max-width: $mobile-breakpoint) {
        padding-bottom: 35px;
        padding-bottom: 0;
      }

      .grid-nav-item {
        width: 33.33%;
        float: left;
        list-style: none;
        text-align: center;
        position: relative;

        @media(max-width: $mobile-breakpoint) {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          background-color: $header-footer-blue;

          &:last-child .grid-nav-item-link {
            border-bottom: none;
          }
        }

        &, .grid-nav-item-link {
          height: 302px;

          @media(max-width: 870px) {
            height: 261px;
          }

          @media(max-width: $mobile-breakpoint) {
            height: 53px;
          }
        }

        .grid-nav-item-link {
          display: inline-block;
          opacity: 1;
          position: relative;
          z-index: 50;
          overflow: hidden;

          @media(max-width: $mobile-breakpoint) {
            border-bottom: 1px solid #4662ac;
            width: 100%;
          }
        }

        &:hover {

          @media(min-width: $tablet-breakpoint) {

            .grid-nav-item-number-border {
              background-color: #fff;
              height: 86px;
              top: 0;
            }

            .grid-nav-item-number, h3, .grid-nav-item-type {
              color: #fff;
            }

            .grid-nav-item-number {
              font-size: 22px;
              @include transform(rotate(0));
              top: 105px;
              right: 32px;
            }

            .grid-nav-item-image, .grid-nav-item-image-mask {
              @include transform(scale(1.1));
            }

            .hover-background {
              background-color: #3e5bc5;
            }

            .grid-nav-item-image .over-image-line {
              background-color: #3e5bc5;
              @include transform(translate(42px, -205px) rotate(12deg));
            }

            #image-mask-path {
              fill: #3e5bc5 !important;
            }

          }
        }

        .grid-nav-item-border {
          width: 58px;
          height: 2px;
          background-color: #3e5bc5;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        .hover-background {
          background-color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 40;
          @include transition(background-color 0.25s linear 0.166s);
        }

        .grid-nav-item-image-mask {
          position: absolute;
          width: 100%;
          height: 100%;
          float: left;
          @include transition(transform 0.333s linear 0.125s)

          @media screen and ( max-width: 1020px ) {
            margin-top: 1%;
          }

          @media screen and ( max-width: 980px ) {
            margin-top: 2%;
          }

          #image-mask-path {
            @include transition(fill 0.25s linear 0.166s);
          }
        }


        .grid-nav-item-image {
          width: 202px;
          height: 202px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          @include transition(transform 0.333s linear 0.125s)
          background-size: 254%;
          background-position: center;
          z-index: -1;
          top: 12px;

          @media screen and ( max-width: 1170px ) {
            top: 6px;
          }

          @media(max-width: $tablet-breakpoint) {
            width: 187px;
            height: 187px;
            top: 7px;
          }

          @media(max-width: 870px) {
            width: 161px;
            height: 161px;
          }

          @media(max-width: 790px) {
            width: 135px;
            height: 144px;
          }

          @media(max-width: $mobile-breakpoint) {
            display: none;
          }

          .over-image-line {
            width: 2px;
            height: 103%;
            background-color: #fff;
            position: absolute;
            top: -3px;
            left: 28.6%;
            @include transform(rotate(12deg));
            @include transition(background-color 0.083s linear 0.166s,
                                transform 0.25s linear 0.333s);
            @media screen and ( max-width: 1170px ) {
              left: 29.6%;
            }

            @media screen and ( max-width: 1020px ) {
              left: 31.6%;
            }

            @media(max-width: $tablet-breakpoint) {
              left: 31%;
            }

            @media(max-width: 870px) {
              left: 30%;
            }

            @media(max-width: 790px) {
              left: 29%;
            }
          }
        }

        .grid-nav-item-type, h3 {
          padding-left: 36px;
          text-align: left;
          position: relative;
        }

        .grid-nav-item-type {
          float: left;
          font-family: $sans-bold;
          font-size: $font-size-extra-tiny;
          line-height: 12px;
          letter-spacing: 1px;
          color: #3e5bc5;
          text-transform: uppercase;
          width: 100%;
          margin-top: -2px;
          @include transition(color 0.5s linear);
        }

        h3 {
          float: left;
          font-size: 16px;
          color: #000;
          font-family: $sans;
          line-height: 24px;
          margin-top: 12px;
          text-transform: none;
          width: 300px;
          letter-spacing: 1px;
          @include transition(color 0.5s linear);

          @media(max-width: $tablet-breakpoint) {
            width: 90%;
          }

          @media(max-width: $mobile-breakpoint) {
            font-size: 10px;
            line-height: 14px;
            color: #fff;
            text-transform: uppercase;
            padding-left: 0;
            margin-top: 0;
            @include vertical-middle;
            width: 90%;
          }

          br {
            display: none;
          }
        }

        .grid-nav-item-number-border {
          width: 2px;
          height: 59px;
          background-color: #3e5bc5;
          position: absolute;
          top: 15px;
          right: 42px;
          @include transition(background-color 0.5s linear,
                              height 0.333s linear,
                              top 0.333s linear);
        }

        .grid-nav-item-number {
          font-family: $serif;
          font-size: 12px;
          line-height: 7px;
          color: #3e5bc5;
          float: left;
          @include transform(rotate(90deg));
          position: absolute;
          top: 90px;
          right: 36px;
          @include transition(color 0.5s linear,
                              font-size 0.5s linear 0.375s,
                              transform 0.291s linear 0.5s,
                              top 0.291s linear 0.042s,
                              right 0.291s linear 0.5s)

          @media(max-width: $mobile-breakpoint) {
            color: #4662ac;
            font-size: 10px;
            top: 7px;
            right: 2px;
            @include transform(none);
          }
        }
      }
    }
  }
}
