// modules.scss - Styles for individual story modules
// --------------------------------------------------


// Styles common to all modules
.inner-container{
	position: relative;
	display: block;
	margin: auto;
	padding: 105px 65px;
	width: 780px;
	background-color: white;

	&.large{
		width: 1060px;

		@media(max-width: $small-desktop-breakpoint){
			width: 930px;
		}

		@media(max-width: $tablet-breakpoint){
			width: 605px; 
		}

		@media(max-width: $mobile-breakpoint){
			width: 100%;
			padding: 0px 15px;
		}
	}

	p{
		padding: 20px 0px;

		@media(max-width: $mobile-breakpoint){
			padding: 12px 0px;
		}
	}

	@media(max-width: $tablet-breakpoint){
		width: 605px;
	}

	@media(max-width: $mobile-breakpoint){
		width: 100%;
	}
}

section.title-card{
	margin-bottom: 375px;
	background-size: cover;
    background-position: center center;

    .mobile-hero{
		display:none;

		@media(max-width: $mobile-breakpoint){
			display: block;
			height: 220px;
			background-size: cover;
    		background-position: center center;
		}
	}

    @media(max-width: $tablet-breakpoint){
    	height: 307px;
    	margin-bottom: 213px;
    }

    @media(max-width: $mobile-breakpoint){
    	height: auto;
    	margin-bottom: 0px;
    	background-image: none !important;
    }
	
	h2{
		font-family: $serif;
		font-size: $font-size-extra-large;
		color: $light-grey;
		line-height:38px;

		@media(max-width: $tablet-breakpoint){
			font-size: 17px;
			line-height: 27px;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 16px;
			line-height: 21px;
		}
	}

	.content-card{
		// TODO: Put these breakpoints in variables
		padding: 75px 130px 75px 150px;
		background-color: white;
		width: 980px;
		display: block;
		margin: auto;
		position: relative;
		top: 330px;
		@include groundwork-shadow;
		
		@media(max-width: $tablet-breakpoint){
			padding: 36px 64px 36px 64px;
			width: 623px;
			top: 201px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 100%;
			padding: 29px 15px 23px 15px;
			top: 0px;
		}

		h3 {
			font-size: 16px;
			letter-spacing: 3px;

			@media(max-width: $tablet-breakpoint){
				font-size: 11px;
				font-weight: 700;
				line-height: 16px;
			}
		}

		h2 {
			br {
				@media(max-width: $mobile-breakpoint){
					display: none;	
				}			
			}
		}
	}

	.factoid-container{
		padding-top: 25px;
		border-top: 2px solid $groundwork-blue;
		margin-top: 70px;

		@media(max-width: $tablet-breakpoint){
			display: none;
		}

		span{
			font-family: $sans;
    		font-size: $font-size-medium;
    		color: grey;
    		line-height: 21px;
		}

		// Styles for 'share' and 'brought to you by' row of factoid container
		.row:nth-child(2){
			margin-top:30px;
		}
	}
}



section.module-text{
	@include module-section;
	margin: 70px 0px;

	&.module-text-pre-founder-quote{
		margin-top: 0px;
	}

	// Special case to allow for superscript 'registered' symbols
	sup.reg{
	    font-size: 75%;
    	position: relative;
    	top: -9px;
	}

	.inner-container{

		padding: 0px 65px;

		@media(max-width:$mobile-breakpoint){
			padding: 0px 15px;
		}

		ul, ol{
			margin-top: -18px;
		}

		p:first-child{
			padding-top: 0px;
		}
		
		p:last-child{
			padding-bottom:0px;
		}

		li {
			list-style: initial;
			padding-left: 2px;
		}

		// TODO: Move this elsewhere
		&.html-block {
			padding: initial;
			// width: initial;
			max-width: 980px;
			background-color: transparent;
			
			&.full{
				width: auto;
			}
			
			// for the water drop section 

			&.water-drop {
		
				width: 980px;
				@media only screen 
				and (max-width: $tablet-breakpoint){
					width: 605px;
				}

				@media only screen 
				and (max-width: $mobile-breakpoint){
					width: 100%;
				}




			}

			// for the interactive pieces section 
			&.interactive-pieces{

				width: initial;
		
				@media only screen 
				and (max-width: $small-desktop-breakpoint){
					@include transform( scale(.85) );
				}			

				@media only screen 
				and (max-width: $tablet-breakpoint){
					@include transform( initial );
					width: 680px;
				}	
		
				@media only screen 
				and (max-width: $mobile-breakpoint){
					width: initial;
				}
				
			}

			// for the line graph section 
			&.line-graph{

				@media only screen 
				and (min-width: $tablet-breakpoint ){
					max-width: 1220px;
					width: initial;
				}
				
			}
			
			@media only screen 
  			and (max-width: $mobile-breakpoint ) {
				
				max-width: 605px;
				width: initial;
				padding: 0 20px;
				
				.row.menu + .row {
  					display: none;
  				}

  			}



			.html-block__description {
				text-align: center;
				margin-top: 30px;
				
				p, h3 {
					text-transform: uppercase;
					padding: initial;
				}

				p {
					font-family: $sans-bold; 
					color: $light-grey;
					font-size: 12px;
					letter-spacing: 2px; 
					line-height: 1.8;
					margin: 5px auto;
					max-width: 240px;
				}

				h3 {
					font-size: 18px;
					letter-spacing: 4px; 
					margin: 4px 0;
				}

				&.report__container {
					margin-top: 0;
					border: 2px solid $groundwork-blue;
					padding: 37px 0;
					
					@media only screen 
					and (max-width: 500px){
						padding: 24px 0;
					}
				}

				p:last-child, h3:last-child {
					margin-bottom: 0;
				} 

			}

			.gauge, .clock, .map {
				&.col-4 {
					
					@media only screen 
  					and (max-width: $tablet-breakpoint) {
						width: 50%;
  					}

  					@media only screen 
  					and (max-width: $mobile-breakpoint) {		
						width: 100%;
  					}

				}


				border-right: 2px solid $groundwork-blue;
				min-height: 245px;
				
				&:before {	
					content: '';
					vertical-align: middle;
					margin-right: -0.25em;
					display: inline-block; 
				}

				.container {
					vertical-align: middle;
					display: inline-block;
					
					@media only screen
					and ( max-width: $tablet-breakpoint){
						text-align: center;
					}
				}
				

			}

			.gauge {
				padding-right: 40px;
				padding-left: 0;
				
				.container {
					cursor: pointer;
					
					&:hover {
						.progress__bar {
							width: 100%;
						}

						#year {
							color: #fff;
						}
					}

					&.active {
						.progress__bar {
							width: 100%;
						}

						#year {
							color: #fff;
						}
						
					}
				}

				@media only screen 
  				and (max-width: $mobile-breakpoint) {
					border-right: none;
					border-bottom: 2px solid $groundwork-blue;
					padding-right: 0; 
					padding-bottom: 35px;
  				}

			}

			.clock {
				padding-right: 20px;
				padding-left: 20px; 
				
				@media only screen 
  				and (max-width: $tablet-breakpoint) {
  					border-right: none;
  				}

  				@media only screen 
  				and (max-width: $mobile-breakpoint) {
					padding: 35px 0 0 0; 
  				}
				
				.clocks {
					display: inline-block;
					margin: 0 auto;
				}

				&-container {
					display: inline-block;
					width: 70px;
					margin: 0 10px;	
					
					&.active {

						.rotate_1 {
							@include animate(rotating, 2s, linear, infinite);
							@include transform-origin(31.2px 36.7px);					
						}

						.rotate_2 {
							@include animate(reverse-rotating, 2s, linear, infinite);
							@include transform-origin(31.2px 36.7px);
						
						}
					}
				}



			}


			@include keyframes(rotating){

				from {
					transform: rotate(0deg);	
				}
				to {
					transform: rotate(360deg);		
				}

			}

			@include keyframes(reverse-rotating){
				
				from {
					transform: rotate(360deg);	
				}
				to {
					transform: rotate(0deg);		
				}

			}

			.map {
				padding-left: 40px;
				padding-right: 0;
				border-right: 0;  
				
				@media only screen 
  				and (max-width: $tablet-breakpoint) { 
					display: none;
  				}
				
			}

			.map {

				&-container {
					width: 225px;
					display: inline-block;
					position: relative;
					cursor: pointer;
					
					&:hover {
						#map > .st13 {
							fill: $light-blue;
							stroke: $light-blue;
						}

						h3 {
							color: #fff;
							span {
								color: #fff;
							}
						}

					}

					#map > .st13,  h3, h3 > span {
						@include transition( .3s, all, 0s, ease-in-out);
					}

					&.active {

							#map > .st13 {
								fill: $light-blue;
								stroke: $light-blue;
							}

							h3 {
								color: #fff;
								
								span {
									color: #fff;
								}

							}
						
					}

				
				}

				h3 {
					text-align: center;
					color: $light-grey;
					display: inline-block;
					position: absolute;
					min-width: 140px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color:  $groundwork-blue;
					letter-spacing: 4px;
					z-index:1; 
					
					span {
						letter-spacing: 4px;
						display: block;
						color: $light-grey;
						font-size: 13px;
						margin-bottom: 8px;
						letter-spacing: 2px;
					}
				}

				.html-block__description {
					display: inline-block;
					margin-top: 20px; 
				}

			}

			.progress {
				border: 3px solid $light-blue;
				margin-bottom: 13px;
				position: relative;
				
				&.one {
					max-width: 55%;	
				}

				&__bar {
					height: 21px;
					width: 0;
					background: $light-blue;
					@include transition( .3s, all, 0s, ease-in-out);
				}
				
				#year {
					font-size: 11px;
					font-family: $sans-bold;
					letter-spacing: 2px;
					color: $light-blue;
					position: absolute; 
					left: 5px;
					top: 50%;
					@include transition( .35s, all, 0s, ease-in-out);
					@include transform ( translateY(-50%) );
					
				}
			}



			.octagauge__container {
				width: 462px;
				display: inline-block;
				position: relative;
				
				@media only screen 
  				and (max-width: 500px) { 
					
					width: 290px;
					margin-left: -10px;

  				}
			
			}

			.progress-circle-container {
				height: 162px;
	    		width: 162px;
				display: inline-block;
				position: absolute;
    			z-index: 10;
    			top: 50%;
    			left: 54%;
    			// transform: translate(-50%, -50%);
    			@include transform ( translate(-50%, -50%) );
    			
    			&.active {
    				.progress-circle-prog {
    					stroke-dasharray: 0 999 !important;
    				}
    			}

    			@media only screen 
  				and (max-width: 500px) { 
					width: 95px;
					height: 95px;
					top: 47%;
  				}

				.progress-circle {
					@include transform ( rotate(-90deg) );	
					
    				@media only screen 
  					and (max-width: 500px) { 
						width: 95px !important;
						height: 95px !important;	
					}
				}

				.progress-circle-back {
					fill: none;
	    			stroke: $light-blue;
	    			stroke-width: 29px;
				}

				.progress-circle-white {
					fill: none;
					stroke: #fff;
					stroke-width: 23px;		
				}

				.progress-circle-prog {
					fill: none; 
					stroke: $groundwork-blue;
					stroke-width: 23px;
					stroke-dasharray: 0 999;    
					stroke-dashoffset: 0px;
					@include transition ( stroke-dasharray 0.7s linear 0s );
				}

				.progress-text {
					font-family: $sans-bold;
					letter-spacing: 4px; 
					width: 100%;
					position: absolute;
					top: 50%;
			    	transform: translateY(-50%);
					text-align: center;
					font-size: 15px;
					color: $light-blue;
					
				}
				
			}



			.row{
				&.second{
					border-top: 2px solid $groundwork-blue;
					margin-top: 62px;
					padding-top: 70px;
					padding-bottom: 0px;
					
					@media only screen 
  					and (max-width: $tablet-breakpoint) {
						padding-top: 35px;
						margin-top: 35px;
						// text-align: center;
  					}

  					@media only screen 
  					and (max-width: $mobile-breakpoint) {
  						padding-top: 20px;
						text-align: center;
  					}
	
					.octagauge, .report {
						float: none;
						display: inline-block;
						vertical-align: middle; 
					}

					.octagauge {
						@media only screen 
						and (max-width: $tablet-breakpoint){
							@include transform ( scale(.85) );
						}

						&.push-1 {
								
								@media only screen 
  								and (max-width: $tablet-breakpoint) {
									margin-left: 0;
  								}

  								@media only screen 
  								and (max-width: 500px) {
									// margin-left: -100px;
  								}
							
						}

						&.col-6 {
							@media only screen 
  							and (max-width: $mobile-breakpoint) {
								width: 100%;
							}
						}

						@media only screen 
						and (max-width: 500px){
							
							@include transform( scale(1) );
														    	
						}

					}

					.report {
						
						@media only screen 
  						and (max-width: $tablet-breakpoint) {
							margin-left: 100px;
    						@include transform ( scale(.85) );
    						width: 30%;
  						}


  						&.col-3 {
  							// width: 40%;
  							margin: 0 auto;
  							margin-left: 0;	
  							
  							@media only screen 
							and (max-width: $tablet-breakpoint){
								margin-left: 100px;
							}

							@media only screen 
							and (max-width: $mobile-breakpoint){
								margin-left: 0;
								width: 200px;
							}
  							
	  						@media only screen 
							and (max-width: 500px){
							
							}
  						}
						
					}

				}
			}

			.menu {
				padding-bottom: 83px;
				
				@media only screen 
  				and (max-width: $small-desktop-breakpoint) {
					margin: 0 auto;
  				}

  				@media only screen 
  				and (max-width: $tablet-breakpoint) {
					padding-bottom: 60px;
  				}

				@media only screen 
  				and (max-width: $mobile-breakpoint ) {
					padding-bottom: 0px;
  				}


				h5 {
					font-size: 15px;
					letter-spacing: 3px;
					text-align: center;
				}

				.col-4 {
					border-right: 2px solid $groundwork-blue;
					text-align: center;
					@extend .clearfix;
					@include transition( .3s, all, 0s, ease-in-out);
					
					&.domestic, &.industrial, &.food {
						&.active {
							background: $groundwork-blue;
							
							h5 {
								color: #fff;
							}
						}

					}
					
					@media only screen 
					and (max-width: $mobile-breakpoint) {
						width: 100%;		
					}
					
					&:hover {
						cursor: pointer;
						background: $groundwork-blue;
						
						h5 {
							color: #fff;
						}

					}
					
					&:before {
						content:'';
						height: 100%;
						margin-right: -0.25em;
						display: inline-block;
						vertical-align: middle;
						
					}

					h5 {
						display: inline-block;
						vertical-align: middle;
						margin-bottom: 0; 
						line-height: 37px;
						@include transition( .3s, all, 0s, ease-in-out);
						
						@media only screen 
						and (max-width: $tablet-breakpoint) {
							font-size: 14px;
							letter-spacing: 2px;
							max-width: 120px;
							line-height: 1.3;
							margin-top: 10px;
							
						}

						@media only screen 
						and (max-width: $mobile-breakpoint) {
							font-size: 14px;
							letter-spacing: 2px;
							max-width: initial;
							color: $groundwork-blue;
							line-height: 1.3;
							margin-top: 10px;
							position: relative;
							min-width: 280px;
							
							&:before {
								content: '';
	    						position: absolute;
	    						width: 0;
	    						height: 0;
	    						border-style: solid;
							    border-width: 7px 7px 0 7px;
							    border-color: #fff transparent transparent transparent;
							    right: -12px;
	    						top: 1px;
	    						z-index: 1;
	    						@include transition( .3s, all, 0s, ease-in-out);

							}
						
							&:after {
								content: '';
								position: absolute;
								width: 0px;
							    height: 0px;
							    border-style: solid;
							    right: -12px;
							    bottom: 8px;
							    border-width: 7px 7px 0 7px;
							    border-color: $groundwork-blue transparent transparent transparent;
							    @include transition( .3s, all, 0s, ease-in-out);
							}

						}

					}

				

					&:nth-child(1) {
						padding-right: 0;
						padding-left: 0 
					}

					&:nth-child(2) {
						padding-right: 0;
						padding-left: 0;
					}

					&:nth-child(5){
						padding-right:0;
						padding-left: 0; 
						border-right: none;
					}

					@media only screen 
					and (max-width: $tablet-breakpoint) {
						min-height: 52px;
					}

					@media only screen 
					and (max-width: $mobile-breakpoint) {
						
						min-height: initial;
						line-height: 64px;
						border-right: none;
						border-top: 2px solid $light-blue;
						
						&:first-child {
							border-top: none;
						}

						&.food {
							border-bottom: 2px solid $light-blue;
						}
					
						&.active {
						background: $groundwork-blue;
						
							h5 {

								color: #fff;

								&:before {
									border-color: $groundwork-blue transparent transparent transparent;
									top: 5px;
									@include transform(rotate(180deg));
									
								}

								&:after {
									border-color: #fff transparent transparent transparent;	
									@include transform(rotate(180deg));
								}
								
							}
						
						}

						&:hover {
							
							h5 {

								&:before {
									border-color: $groundwork-blue transparent transparent transparent;
								}

								&:after {
									border-color: #fff transparent transparent transparent;	
								}
								
							}

						}
					
					}

				}

				.mobile-only {
					display: none;
					

					@media only screen 
					and (max-width: $mobile-breakpoint) {
						display: block;
						max-width: 420px;
						margin: 0 auto;
						max-height: 0;
						overflow: hidden;
						position: relative;
						@include transition(.3s, all, 0s, ease-in-out);
						
						&.active {
							max-height: 500px;
							margin-top: 35px;
							margin-bottom: 35px;
						
						}

						&__description {
							@include middle;
							max-width: 320px;
							width: 100%;
							padding: 15px;
							background: rgba( 256, 256, 256, .9);
							-webkit-box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
							-moz-box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
							box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
							text-align: center;
							
							h2 {
								font-family: $sans-bold;
								font-size: 36px;
								color: $groundwork-blue;
								text-transform: uppercase;
								letter-spacing: 4px; 
							}
							p {
								font-family: $sans;
								color: $light-grey;
								font-size: 16px;
								font-weight: 600;
								line-height: 1.4;  
								padding-bottom: 0;
								max-width: 262px;
								margin: 0 auto;
							}
							
						}
						
					}

				}
			}

	

			.image-container {
				cursor: pointer;
				position: relative;
				margin-bottom: 0px;
				
				@media only screen 
  				and (max-width: $small-desktop-breakpoint) {
					padding: 0 40px;
  				}
				

				@media only screen 
				and (max-width: $mobile-breakpoint) {
					padding: 0 100px;
				}


				
				&__description-1, &__description-2, &__description-3 {

					background: rgba( 256, 256, 256, .9);
					padding: 30px 75px;
					top: 50%;
					left: 50%;
			
					position: absolute;
					text-align: center;
					
					@include transform (translate(-50%, -50%));
					-webkit-box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
					-moz-box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
					box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.28);
					
					&.active {
						display: block;
				
					}

					@media only screen 
					and (max-width: $tablet-breakpoint) {
						padding: 20px 30px;			
						width: 100%;
						max-width: 400px;	
					}
					


				}

				
				h2 {
					font-family: $sans-bold;
					font-size: 36px;
					color: $groundwork-blue;
					text-transform: uppercase;
					letter-spacing: 4px; 
				}

				p {
					font-family: $sans;
					color: $light-grey;
					font-size: 16px;
					font-weight: 600;
					line-height: 1.4;  
					padding-bottom: 0;
					max-width: 262px;
					
					@media only screen 
					and (max-width: $tablet-breakpoint) {
						margin: 0 auto;
						padding: 14px 0 0;
					}

					@media only screen 
					and (max-width: $mobile-breakpoint) {
						margin: 0 auto;
						padding: 14px 0 0;
					}
  
				}

				&__description-1,&__description-2, &__description-3 {
					display: none;
				}

			}

			.image-container__description-1,.image-container__description-2,.image-container__description-3 {
				@media only screen 
				and (max-width: $mobile-breakpoint) {
					padding: 20px 30px;			
					width: 100%;
					max-width: 400px;	

				}
	

			}



			.svg-contaienr {
				position: relative;
    			margin-bottom: 80px;
			}


			
		}

	}

}


@media only screen 
  and (max-width: 340px ) {
  	
  	section.module-text .inner-container.html-block .menu .col-4 h5 {
  		margin-left: -40px;
  		
  		&:before {
  			right: -7px;
  		}

  		&:after {
  			right: -7px;
  		}
  	}

  	section.module-text .inner-container.html-block .menu .mobile-only__description {
  		max-width: 240px;
  	}

  	.inner-container p {
  		padding-top: 10px;
  	}

}




////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// SVG ASSET STYLE ///////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

#octa {
	.st0{fill:#96C4E9;}
	.st1{fill:none;stroke:#96C4E9;stroke-width:2.649;stroke-miterlimit:10;}
}

#map {
	.st0{fill:none;stroke:#3E5BC2;stroke-width:2;stroke-miterlimit:10;}
	.st1{fill:#464646;}
	.st2{fill:#475EAA;}
	.st3{fill:#3E5BC2;}
	.st4{fill:#818181;}
	.st5{fill:#828282;}
	.st6{fill:#96C4E9;}
	.st7{fill:none;stroke:#96C4E9;stroke-width:2.649;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#475EAA;stroke-width:2.649;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#96C4E9;stroke-width:2.771;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#96C4E9;stroke-width:2.651;stroke-miterlimit:10;}
	.st11{fill:none;stroke:#475EAA;stroke-width:2.5162;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#475EAA;stroke-width:2.5577;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#96C4E9;stroke-width:2.5085;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#475EAA;stroke-width:2.4508;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#475EAA;stroke-width:2.1447;stroke-miterlimit:10;}
	.st16{fill:#293189;}
	.st17{display:none;}
	.st18{display:inline;}
	.st19{display:inline;clip-path:url(#SVGID_2_);}
	.st20{display:none;opacity:0.4;fill:#FFFFFF;}
	.st21{fill:#020202;}
	.st22{fill:#FCFCFC;}
	.st23{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;}
	
		.st24{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.1188,0.4752;}
	.st25{fill:#FFFFFF;}
	.st26{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st27{fill:#211E1F;}
	.st28{fill:none;}
	.st29{fill:#808080;}
	.st30{fill-rule:evenodd;clip-rule:evenodd;fill:#3E5BC2;}
	.st31{fill:#848484;}
	.st32{clip-path:url(#SVGID_14_);fill:#3C408B;}
	.st33{clip-path:url(#SVGID_14_);}
	.st34{clip-path:url(#SVGID_14_);fill:#FFFFFF;}
	.st35{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;}
	
		.st36{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.134,0.535;}
	.st37{clip-path:url(#SVGID_16_);fill:#231F20;}
	.st38{clip-path:url(#SVGID_16_);}
	.st39{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
	.st40{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;}
	
		.st41{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.119,0.475;}
	.st42{clip-path:url(#SVGID_18_);fill:#FFFFFF;}
	.st43{clip-path:url(#SVGID_18_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st44{clip-path:url(#SVGID_20_);}
	.st45{clip-path:url(#SVGID_22_);fill:#9AC7EB;}
	.st46{clip-path:url(#SVGID_22_);}
	.st47{opacity:0.3;clip-path:url(#SVGID_24_);}
	.st48{clip-path:url(#SVGID_26_);fill:#9AC7EB;}
	.st49{clip-path:url(#SVGID_26_);fill:none;stroke:#9AC7EB;stroke-miterlimit:10;}
	.st50{fill:#363535;}
	.st51{clip-path:url(#SVGID_22_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st52{clip-path:url(#SVGID_28_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st53{clip-path:url(#SVGID_30_);fill:#888889;}
	.st54{clip-path:url(#SVGID_32_);fill:#FFFFFF;}
	.st55{clip-path:url(#SVGID_32_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st56{clip-path:url(#SVGID_34_);fill:none;stroke:#FFFFFF;stroke-width:0.784;stroke-miterlimit:10;}
	.st57{clip-path:url(#SVGID_36_);}
	.st58{opacity:0.26;clip-path:url(#SVGID_40_);}
	.st59{clip-path:url(#SVGID_42_);}
	.st60{clip-path:url(#SVGID_40_);fill:#FFFFFF;}
	.st61{fill:#292929;}
	.st62{fill:#5165AD;}
}

#clock_1 {
	.st0{fill:none;stroke:#3E5BC2;stroke-width:2;stroke-miterlimit:10;}
	.st1{fill:#464646;}
	.st2{fill:#475EAA;}
	.st3{fill:#3E5BC2;}
	.st4{fill:#818181;}
	.st5{fill:#828282;}
	.st6{fill:#96C4E9;}
	.st7{fill:none;stroke:#96C4E9;stroke-width:2.649;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#475EAA;stroke-width:2.649;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#96C4E9;stroke-width:2.771;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#96C4E9;stroke-width:2.651;stroke-miterlimit:10;}
	.st11{fill:none;stroke:#475EAA;stroke-width:2.5162;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#475EAA;stroke-width:2.5577;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#96C4E9;stroke-width:2.5085;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#475EAA;stroke-width:2.4508;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#475EAA;stroke-width:2.1447;stroke-miterlimit:10;}
	.st16{fill:#293189;}
	.st17{display:none;}
	.st18{display:inline;}
	.st19{display:inline;clip-path:url(#SVGID_2_);}
	.st20{display:none;opacity:0.4;fill:#FFFFFF;}
	.st21{fill:#020202;}
	.st22{fill:#FCFCFC;}
	.st23{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;}
	.st24{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.1188,0.4752;}
	.st25{fill:#FFFFFF;}
	.st26{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st27{fill:#211E1F;}
	.st28{fill:none;}
	.st29{fill:#808080;}
	.st30{fill-rule:evenodd;clip-rule:evenodd;fill:#3E5BC2;}
	.st31{fill:#848484;}
	.st32{clip-path:url(#SVGID_14_);fill:#3C408B;}
	.st33{clip-path:url(#SVGID_14_);}
	.st34{clip-path:url(#SVGID_14_);fill:#FFFFFF;}
	.st35{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;}
	
	.st36{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.134,0.535;}
	.st37{clip-path:url(#SVGID_16_);fill:#231F20;}
	.st38{clip-path:url(#SVGID_16_);}
	.st39{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
	.st40{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;}
	
	.st41{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.119,0.475;}
	.st42{clip-path:url(#SVGID_18_);fill:#FFFFFF;}
	.st43{clip-path:url(#SVGID_18_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st44{clip-path:url(#SVGID_20_);}
	.st45{clip-path:url(#SVGID_22_);fill:#9AC7EB;}
	.st46{clip-path:url(#SVGID_22_);}
	.st47{opacity:0.3;clip-path:url(#SVGID_24_);}
	.st48{clip-path:url(#SVGID_26_);fill:#9AC7EB;}
	.st49{clip-path:url(#SVGID_26_);fill:none;stroke:#9AC7EB;stroke-miterlimit:10;}
	.st50{fill:#363535;}
	.st51{clip-path:url(#SVGID_22_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st52{clip-path:url(#SVGID_28_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st53{clip-path:url(#SVGID_30_);fill:#888889;}
	.st54{clip-path:url(#SVGID_32_);fill:#FFFFFF;}
	.st55{clip-path:url(#SVGID_32_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st56{clip-path:url(#SVGID_34_);fill:none;stroke:#FFFFFF;stroke-width:0.784;stroke-miterlimit:10;}
	.st57{clip-path:url(#SVGID_36_);}
	.st58{opacity:0.26;clip-path:url(#SVGID_40_);}
	.st59{clip-path:url(#SVGID_42_);}
	.st60{clip-path:url(#SVGID_40_);fill:#FFFFFF;}
	.st61{fill:#292929;}
	.st62{fill:#5165AD;}
}

#clock_2 {
	.st0{fill:none;stroke:#3E5BC2;stroke-width:2;stroke-miterlimit:10;}
	.st1{fill:#464646;}
	.st2{fill:#475EAA;}
	.st3{fill:#3E5BC2;}
	.st4{fill:#818181;}
	.st5{fill:#828282;}
	.st6{fill:#96C4E9;}
	.st7{fill:none;stroke:#96C4E9;stroke-width:2.649;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#475EAA;stroke-width:2.649;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#96C4E9;stroke-width:2.771;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#96C4E9;stroke-width:2.651;stroke-miterlimit:10;}
	.st11{fill:none;stroke:#475EAA;stroke-width:2.5162;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#475EAA;stroke-width:2.5577;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#96C4E9;stroke-width:2.5085;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#475EAA;stroke-width:2.4508;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#475EAA;stroke-width:2.1447;stroke-miterlimit:10;}
	.st16{fill:#293189;}
	.st17{display:none;}
	.st18{display:inline;}
	.st19{display:inline;clip-path:url(#SVGID_2_);}
	.st20{display:none;opacity:0.4;fill:#FFFFFF;}
	.st21{fill:#020202;}
	.st22{fill:#FCFCFC;}
	.st23{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;}
	
	.st24{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.8482;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.1188,0.4752;}
	.st25{fill:#FFFFFF;}
	.st26{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st27{fill:#211E1F;}
	.st28{fill:none;}
	.st29{fill:#808080;}
	.st30{fill-rule:evenodd;clip-rule:evenodd;fill:#3E5BC2;}
	.st31{fill:#848484;}
	.st32{clip-path:url(#SVGID_14_);fill:#3C408B;}
	.st33{clip-path:url(#SVGID_14_);}
	.st34{clip-path:url(#SVGID_14_);fill:#FFFFFF;}
	.st35{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;}
	
	.st36{clip-path:url(#SVGID_14_);fill:none;stroke:#FFFFFF;stroke-width:2.083;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.134,0.535;}
	.st37{clip-path:url(#SVGID_16_);fill:#231F20;}
	.st38{clip-path:url(#SVGID_16_);}
	.st39{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
	.st40{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;}
	
	.st41{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;stroke-width:1.848;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.119,0.475;}
	.st42{clip-path:url(#SVGID_18_);fill:#FFFFFF;}
	.st43{clip-path:url(#SVGID_18_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st44{clip-path:url(#SVGID_20_);}
	.st45{clip-path:url(#SVGID_22_);fill:#9AC7EB;}
	.st46{clip-path:url(#SVGID_22_);}
	.st47{opacity:0.3;clip-path:url(#SVGID_24_);}
	.st48{clip-path:url(#SVGID_26_);fill:#9AC7EB;}
	.st49{clip-path:url(#SVGID_26_);fill:none;stroke:#9AC7EB;stroke-miterlimit:10;}
	.st50{fill:#363535;}
	.st51{clip-path:url(#SVGID_22_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st52{clip-path:url(#SVGID_28_);fill:none;stroke:#5266AD;stroke-width:2;stroke-miterlimit:10;}
	.st53{clip-path:url(#SVGID_30_);fill:#888889;}
	.st54{clip-path:url(#SVGID_32_);fill:#FFFFFF;}
	.st55{clip-path:url(#SVGID_32_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st56{clip-path:url(#SVGID_34_);fill:none;stroke:#FFFFFF;stroke-width:0.784;stroke-miterlimit:10;}
	.st57{clip-path:url(#SVGID_36_);}
	.st58{opacity:0.26;clip-path:url(#SVGID_40_);}
	.st59{clip-path:url(#SVGID_42_);}
	.st60{clip-path:url(#SVGID_40_);fill:#FFFFFF;}
	.st61{fill:#292929;}
	.st62{fill:#5165AD;}
}

//<!-- line graph -->//
section.module-text .inner-container.html-block {
	&.line-graph {

		#chart {
			display: inline-block;
			
			width: 100%;
			margin: 0 auto;
		}

		#line {
			// margin-left: -25px;
			
			@media(max-width: $tablet-breakpoint - 1){
				margin-left: -80px;
			}

		}

		.menu {
			max-width: 720px;
			margin: 0 auto; 
			padding-bottom: 35px;

			@media(max-width: $mobile-breakpoint){
				padding-bottom: 0;
			}
			
			.col-4 {
				@media(max-width: $tablet-breakpoint){ 
					min-height: initial;
					line-height: 52px;
				}
				
				@media(max-width: $mobile-breakpoint){
					float: none;
					border-top: 2px solid $groundwork-blue;	
					// border-bottom: 2px solid $groundwork-blue;	
				}

				&[data="ecosystems"] {
					@media(max-width: $mobile-breakpoint){
						border-bottom: 2px solid $groundwork-blue;		
					}
				}

				@media(max-width: 340px) { 
					line-height: 1px;
				}

				&.active {
					cursor: pointer;
					background: $groundwork-blue;
					
					
					h5 {
						color: #fff !important;

						&:before {
							border-color: $groundwork-blue transparent transparent transparent;
							top: 5px;
							@include transform(rotate(180deg));							
						}

						&:after {
							border-color: #fff transparent transparent transparent;	
							@include transform(rotate(180deg));
						}
								
					}

					&:hover {
						@media(max-width: $mobile-breakpoint){	
							background: $groundwork-blue;
						}
					}
				}

				&:hover {
					@media(max-width: $mobile-breakpoint){
						background: initial;
					}

					h5 {
						@media(max-width: $mobile-breakpoint){
							color: $groundwork-blue;
						}
						
					}
				}

				h5 {
					position: relative;
					
					&:before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7px 7px 0 7px;
						border-color: #fff transparent transparent transparent;
						right: -12px;
						top: 1px;
						z-index: 1;
						@include transition(.3s all);
					}

					&:after {
						content: '';
						position: absolute;
						width: 0px;
						height: 0px;
						border-style: solid;
						right: -12px;
						bottom: 4px;
						border-width: 7px 7px 0 7px;
						border-color: $groundwork-blue transparent transparent transparent;
						@include transition(.3s all);
					}

					&:before, &:after {
						display: none;
						
						@media(max-width: $mobile-breakpoint){
							display: block;
						}	


						@media(max-width: 340px){
							right: 13px;
						}					

					}
	

					@media(max-width: $tablet-breakpoint){ 
						max-width: 125px;
						line-height: 1;
    					margin-top: 0;
					}

					@media(max-width: $mobile-breakpoint){
						&:before, &:after {
							// display: none;
						}									
					}

					@media(max-width: 340px){ 
						margin-left: initial; 
						margin: 17px 0;
					}


				}
				
			 	&:last-child {
			 		border: none;
			 		
			 		@media(max-width: $mobile-breakpoint){
						border-bottom: 2px solid $groundwork-blue;	
			 		}
			 		

			 	}
		
			}


		}

		.line-graph__mobile{
			
			&.col-4 {
				width: 33.333%;
				float: left;
				line-height: initial;
				border-top: none;
				border-bottom: none;
				
				&:last-child {
					border-top: none;
					border-bottom: none;
				}

				&:hover {
					background: initial;
					
					h5 {
						color: $groundwork-blue;
					}
				}

				h5 {
					&:before, &:after {
						@media(max-width: $mobile-breakpoint){
							display: none;
						}
					}
				}

			}

			h5 {

				display: inline-block;	
				color: $light-grey;
				letter-spacing: 3px;
				font-size: 14px;
				min-width: initial;
				margin-top: initial;
				line-height: initial;
				position: initial;
				margin-bottom: 35px;
					
				@media(max-width: 500px){
					font-size: 14px;
					letter-spacing: 2px; 			
				}

				@media(max-width: 340px){
					margin-left: initial; 	
					margin: 17px 0;
					font-size: 12px;
					letter-spacing: 1px; 
				}
				

				
			}

			&--container {
				display: none;
				padding: 70px 10px;
				
				@media(min-width: $mobile-breakpoint + 1){
					display: none !important;
				}
			
				@media(max-width: $mobile-breakpoint){
					// padding: 90px 0;
				}

				@media(max-width: 500px){
					padding: 50px 10px;
				}

				@media(max-width: 340px){
					padding: 20px 10px 40px;	
				}
				
			}
			
			display: inline-block;
					
			&-stat {
				text-align:center;
				width: 142px;
				height: 142px;
				line-height: 142px;
				border-radius: 50%;
				border: 2px solid $light-blue;
				margin: 0 auto;
				position: relative;
				
				@media(max-width: 500px){
					width: 107px;
					height: 107px;
					line-height: 107px;
				}

				@media(max-width: 340px){
					width: 90px ;
					height: 90px;
					line-height: 90px;

				}


				
				div {
					@include middle;
				}

				span {
					display: block;
					line-height: 1;
					color: $groundwork-blue;
					font-family: $sans-bold;
					
					&:first-child {
						font-size: 50px;
						font-weight: 800;
						
						@media(max-width: 500px){
							font-size: 35px;
						}
							
					}

					&:last-child {
						font-size: 24px; 
						letter-spacing: 1px;
						
						@media(max-width: 500px){
							font-size: 18px;
						}
					}
				}
			}
		}
	}

}

#chart {
	path { 
    	stroke: $groundwork-blue;
    	stroke-width: 2;
    	fill: none;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: $groundwork-blue;
	    stroke-width: 2;
	    shape-rendering: crispEdges;
	}

	rect {
		fill: grey;
	}

	.tick {
		text {
			font-size: 14px;
			font-family: $sans-bold;
			letter-spacing: 3px;
			fill: grey;

		}
	}

	.bar {
		.label {
			font-size: 14px;
			font-family: $sans-bold;
			letter-spacing: 3px; 
		 
		}
		text {
			font-size: 12px;
			fill: grey;
			font-family: $sans-bold;
			
			tspan {

				font-size: 12px;
				fill: grey;
				font-family: $sans-bold;
			
			}
		}


	}
	
	.bar {
	  fill: #A18FDB;
	}

	.value {
	  font-size: 16px;
	  font-weight: 300;
	  fill: #333;
	}

	.label {
	  font-size: 18px;
	  fill: #333;
	}

	.axis {
	
	  .tick line {
	    stroke-width: 2;
	    stroke: $groundwork-blue;
	  }
	  
	  font-size: 12px;
	}

	.circle { 
	  stroke: #3F5BBE;
	  stroke-width: 2;
	  fill: white;   
	}

	.result {
	  font-size:12px;
	  fill: grey;
	}

	.axis {
	  .tick:nth-child(even){
	    text {
	      display: none;
	    }
	  }
	}

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// END SVG ASSET STYLE ///////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////


section.module-blockquote-centered{
	@include module-section;
	margin: 70px 0px;
	.inner-container{
		padding: 0;

		p{ 
			padding: 0; 
		}
	}

	// These are styles for embedded youtube videos
	iframe{
		width: 800px;
		height: 450px;

		@media(max-width:$tablet-breakpoint){
			width: 600px;
			height: 337px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 320px;
			height: 180px;
		}
	}
}

section.module-blockquote-with-image{
	@include module-section;
	margin: 70px 0px;
	
	.inner-container{
		padding: 25px 0px;
		
		p{
			@media(max-width: $small-desktop-breakpoint){
				padding: 0px;
			}
		}
		// height: 100%;
		


		@media(max-width: $tablet-breakpoint){
			padding: 0px 15px;
		}

		.row{
			// was 100px margin
			margin: 0px 0px;
		}
	}

	blockquote{
		p{
			text-align:right;

			@media(max-width: $small-desktop-breakpoint){
				text-align: center;
			}

			@media(max-width: $tablet-breakpoint){
				padding: 0px;
			}
		}

	}

	.blockquote-image-container{
		right: 0;
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);

    	@media(max-width: $small-desktop-breakpoint){
    		display: block;
    		position: static;
    		margin-top: 30px;
    		top: 0;
    		@include transform (none);
    	}

    	@media(max-width: $tablet-breakpoint){
    		margin-top: 0px;
    	}

    	.image-title{
	    	position: absolute;
	    	top: 20%;
	    	left: 15%;
	    	font-size: 17px;
	    	letter-spacing: 2px;
	    	text-align: right;
	    	font-family: $sans-bold;

	    	@media(max-width: $small-desktop-breakpoint){
	    		position: static;
    			text-align: center;
	    	}

	    	@media(max-width: $mobile-breakpoint){
	    		font-size: 15px;
	    	}

	    	span{
	    		display: block;
	    	}
    	}

    	.image-caption{
    		display: block;
    		font-family: $sans;
    		font-size: $font-size-medium;
    		color: black;

    		@media(max-width: $mobile-breakpoint){
    			font-size: 13px;
    		}
    	}
	}

	.blockquote-image{
		width: 300px;
		height: 300px;
		background-position: center center;
		background-repeat: no-repeat;
		float: right;

		@media(max-width: $small-desktop-breakpoint){
			display: none;
		}
	}
}



section.module-double-image{

	@include module-section;
	margin: 70px 0px;

	.inner-container{
		padding: 0px 0px;
		// We need a fixed height for now since these are absolutely positioned
		min-height: 680px;

		@media(max-width: $tablet-breakpoint){
			min-height: 543px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 290px;
			min-height: 253px;
		}
	}
	div.image-one, div.image-two{
		position: absolute;
		background-position: center center;
		background-repeat: none;
		background-size: cover;
	}
	div.image-one{
		width: 435px;
		height: 435px;
		left:0;
		margin-top:245px;
		z-index: 2;

		@media(max-width: $tablet-breakpoint){
			width: 350px;
    		height: 350px;
    		margin-top: 191px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 160px;
			height: 160px;
			margin-top: 93px;
		}
	}

	div.image-two{
		width: 450px;
		height: 582px;
		right: 0;
		z-index:1;

		@media(max-width: $tablet-breakpoint){
			width: 360px;
    		height: 468px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 167px;
			height: 216px;
			margin-top: 0px;
		}
	}

}

section.module-text-with-background{
	@include module-section;

	ul, ol {
		margin-top: -18px;
	}

	p:first-child{
		padding-top: 0px;
	}
		
	p:last-child{
		padding-bottom:0px;
	}
}

section.module-text-with-two-images{
	text-align: center;
	display: table;
	@include module-section;
	margin: 70px auto;

	@media(max-width: $mobile-breakpoint){
		margin: 40px auto;
	}

	.left-image, .right-image{
		display: table-cell;
		height: 100%;
		width: 560px;
		background-position: center top;
		background-repeat: no-repeat;

		@media(max-width: $mobile-breakpoint){
			display: none;
		}
	}
	.inner-container{
		display: inline-block;
		text-align: left;
		padding: 0px 65px;

		@media(max-width: $mobile-breakpoint){
			padding: 0px 15px;
		}

		ul, ol {
			margin-top: -18px;

			@media(max-width: $mobile-breakpoint){
				margin-top: -5px;
			}
		}

		p:first-child{
			padding-top: 0px;
		}

		p:last-child{
			padding-bottom:0px;
		}
	}
}

section.module-timeline{
	@include module-section;
	margin: 70px 0px;

	&.mobile-only{
		display: none;

		@media(max-width: $mobile-breakpoint){
			display: block;
		}
	}

	h3 {
		font-size: 13px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 2px;

		@media(max-width: $tablet-breakpoint){
			font-size: 12px;
			line-height: 17px;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 9px;
    		line-height: 13px;
		}
	}

	h2{
		font-family: $serif;
		font-size: 28px;
		line-height: 36px;
			margin-top: 13px;
		color: #000;

		@media(max-width: $tablet-breakpoint){
			font-size: 25px;
			line-height: 32px;
			margin: 17px 0px 8px;
		}

		@media(max-width: $mobile-breakpoint){
			margin: 10px 0px 3px;
			font-size: 20px;
			line-height: 30px;
		}
	}
	
	h4{
		font-size: $font-size-medium;
	}

	.mini-divider{
		background-color: $groundwork-blue;
	}

	.inner-container{
		padding: 0px 65px 65px 65px;

		@media(max-width: $tablet-breakpoint){
			text-align: center;
		}

		@media(max-width: $mobile-breakpoint){
			padding: 0px 10px 15px 10px;
		}
	}

	.inner-container p {
		padding-top: 0px;
		width: 85%;
    	max-width: 690px;	

    	@media(max-width: $tablet-breakpoint){
			margin: auto;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 12px;
    		line-height: 17px;
		}

    	&:last-child{
    		padding-bottom: 0px;
    	}
	}
	.pagination-tray{
		text-align: center;
		margin-top: 30px;

		@media(max-width: $mobile-breakpoint){
			display: none;
		}
	}

	.previous-button, .next-button{
		width: 63px;
		height: 63px;
		display: inline-block;
		margin: auto;
		cursor: pointer;
		@include transition(all .2s linear);
		&:hover{
			opacity: 0.7;
		}

		@media(max-width: $tablet-breakpoint){
			height: 54px;
    		width: 54px;
    	}
	}

	.previous-button{
		background: url('../images/next_article_left_arrow.svg') no-repeat;
		margin-right: 10px;
	}
	.next-button{
		background: url('../images/next_article_right_arrow.svg') no-repeat;
		margin-left:10px;
	}

	&.blank{
		.timeline-container .timeline-item .timeline-info-container h4{
			text-transform: none;
		}

		&.mobile-only{
			.timeline-container .timeline-item .timeline-info-container h4{
				text-transform: uppercase;
			}
		}
	}
	
	.timeline-container{

		.timeline-item{
			width: 240px;
			height: 530px;
			box-sizing: border-box;
			margin-bottom: 20px;
			position: relative;
			@include transition(box-shadow 0.3s ease-in-out, opacity 0.2s ease-in-out);
			opacity: 0.2;

			@media(max-width: $tablet-breakpoint){
				width: 220px;
    			height: 458px;
			}

			@media(max-width: $mobile-breakpoint){
				width: 190px;
				height: 390px;

			}

			&.slick-current{
				@include groundwork-shadow;
				opacity: 1.0;

					@media(max-width: $mobile-breakpoint){
						opacity: 1.0 !important;
				}
			}

			&.prev, &.next{
				opacity: 1.0;

				@media(max-width: $mobile-breakpoint){
					opacity: 0.2;
				}
			}
			
			p{
				font-size: $font-size-medium;
				line-height: 20px;
				color: $medium-grey;
				min-height: 100px;

				@media(max-width:$tablet-breakpoint){
					font-size: 13px;
    				line-height: 17px;
					min-height: 64px;
				}

				@media(max-width: $mobile-breakpoint){
					font-size: 12px;
    				line-height: 14px;
    				min-height: 60px;
				}
			}

			.mini-divider{
				margin: 15px 0px;
			}

			.timeline-image{
				width: 240px;
				height: 175px;
				background-position: center;

				@media(max-width: $tablet-breakpoint){
					width: 220px;
					height: 160px;
				}

				@media(max-width: $mobile-breakpoint){
					width: 190px;
					height: 140px;
				}
			}

			.timeline-info-container{

				position: relative;
				padding: 20px;
				
				h4{
					text-transform: uppercase;
					color: black;
					font-size: $font-size-medium;
					line-height: 17px;
					font-family: $sans-bold;
					letter-spacing: 1px;
					min-height: 34px;

					@media(max-width: $tablet-breakpoint){
						font-size: 13px;
						line-height: 15px;
					}

					@media(max-width: $mobile-breakpoint){
						font-size: 12px;
    					line-height: 14px;
					}
				}

				h5{
					margin-top:11px;
					color: black;

					@media(max-width: $tablet-breakpoint){
						font-size: 8px;
						margin-top: 9px;
						margin-bottom: 9px;
						line-height: 11px;
					}

					@media(max-width: $mobile-breakpoint){
						margin-top: 4px;
    					margin-bottom: 4px;
					}
				}

				span{
					font-size: 16px;
					color: black;

					&.timeline-location{
						min-height: 35px;
						display: block;

						@media(max-width: $tablet-breakpoint){
							min-height: 30px;
						}

						@media(max-width: $mobile-breakpoint){
							font-size: 12px;
    						line-height: 14px;
    						min-height: 20px;
    						display: block;
						}
					}

					@media(max-width: $tablet-breakpoint){
						font-size: 14px;
    					line-height: 15px;
					}

					@media(max-width: $mobile-breakpoint){
						font-size: 12px;
    					line-height: 14px;	
					}
				}

				.mini-divider{
					@media(max-width: $mobile-breakpoint){
						margin: 10px 0px;
					}
				}
			}

			a.expand-timeline-item-button{
				background:url('../images/timeline_expand_button.svg');
				width: 38px;
				height: 38px;
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: 15px;
				@include transition(all 0.2s linear);
				&:hover{
					opacity: 0.7;
				}

				@media(max-width: $mobile-breakpoint){
					display: none;
				}

				@media(max-width: $tablet-breakpoint){
					width: 32px;
					height: 32px;
				}
			}
		}
  	}
}

section.module-violator{
	$background-color: #858585;
	background-color: $background-color;

	&.active .inner-container {
		.module-violator-arrow {
			background-image: url('../images/violator_arrow_up.svg');
		}

		p {
			display: block;
		}
	}

	.inner-container {
		max-width: 1220px;
		width: 97%;
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 25px;
		margin: 0 auto;
		background-color: $background-color;
		@include clearfix;

		@media(max-width: $tablet-breakpoint){
			padding-top: 14px;
			padding-bottom: 9px;
			width: 650px;
		}

		@media(max-width: $mobile-breakpoint) {
			min-height: 66px;
			width: 100%;
			padding-bottom: 0;

			.module-violator-arrow {
				float: right;
				background-image: url('../images/violator_arrow_down.svg');
				background-repeat: no-repeat;
				margin-right: 29px;
				width: 15px;
    			height: 8px;
    			margin-top: 17px;
			}
		}

		.module-violator-pre-logo-text, .tetrapak-logo, p {
			float: left;
			display: inline-block;
		}

		.module-violator-pre-logo-text, p, a {
			color: #fff;
		}

		.module-violator-pre-logo-text {
			font-family: $sans-bold;
			font-size: $font-size-tiny;
			letter-spacing: 0.5px;
			line-height: 72px;
			margin-right: 6px;
			text-transform: uppercase;
			letter-spacing: 2px;

			@media(max-width: $tablet-breakpoint) {
				font-size: 6px;
				letter-spacing: 0.8px;
				line-height: 39px;
			}

			@media(max-width: $mobile-breakpoint) {
				font-size: 8px;
				margin-left: 15px;
				line-height: 44px;
				letter-spacing: 1.3px;
			}
		}

		.tetrapak-logo {
			width: 185px;
			height: 31px;
			margin-top: 15px;
			margin-right: 38px;
			margin-bottom: 26px;

			@media(max-width:$small-desktop-breakpoint){
				margin-bottom: 46px;
			}

			@media(max-width: $tablet-breakpoint){
				width: 95px;
				height: 17px;
				margin-top: 8px;
				margin-right: 20px;
				margin-bottom: 0;
			}

			@media(max-width: $mobile-breakpoint) {
				width: 127px;
				height: 22px;
				position: absolute;
				left: 50%;
				margin-left: -35px;
			}
		}

		p {
			font-family: $sans;
			font-size: 14px;
			line-height: 24px;
			padding: 0;
			letter-spacing: 0.6px;
			max-width: 820px;

			@media(max-width: 1240px){
				width: 63%;
			}

			@media(max-width: 1060px){
				width: 60%;
			}

			@media(max-width: $tablet-breakpoint){
				font-size: 12px;
				line-height: 15px;
				width: 450px;
				letter-spacing: 0;
			}

			@media(max-width: $mobile-breakpoint) {
				letter-spacing: 1.4px;
				float: left;
				clear: left;
				width: 100%;
				margin-top: 10px;
				padding-top: 6px;
				padding-left: 6%;
				padding-right: 6%;
				padding-bottom: 9px;
				text-align: center;
				letter-spacing: -0.3px;
				display: none;
				margin-bottom: 10px;
			}
		}

		a {
			text-decoration: underline;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}

		.about-tetra {
			cursor: pointer;
		}
	}
}

section.module-next-article{
	position: relative;
	overflow: hidden;
	height: 740px;

	@media(max-width: $tablet-breakpoint){
		height: 334px;
	}

	@media(max-width: $mobile-breakpoint) {
		max-height: 320px;
		height: auto;
	}

	.module-next-article-background {
		background: url('../images/next_article_background.svg') center;
		position: absolute;
		top: 0;
		left: -150%;
		height: 100%;
		width: 400%;
		z-index: -1;

		@media(max-width: $tablet-breakpoint){
			height: 120%;
		}

		@media(max-width: $mobile-breakpoint) {
			height: 64%;
			width: 100%;
			left: 0;
			background-position: 0 0;
		}
	}

	h3 {
		color: #211f1f;
		font-size: 14px;
		letter-spacing: 2.6px;
		text-align: center;
		margin-top: 47px;
		margin-bottom: 46px;

		@media(max-width: $tablet-breakpoint){
			font-size: 7px;
			letter-spacing: 1.2px;
			margin-top: 18px;
			margin-bottom: 16px;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 12px;
			margin-top: 16px;
			margin-bottom: 12px;
		}
	}

	.carousel {
		max-width: 978px;
		width: 75%;
		margin: 0 auto;

		@media(max-width: $tablet-breakpoint){
			max-width: 498px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 100%;
			max-width: none;
		}

		.item {
			height: 534px;
			background-color: #fff;

			@media(max-width: $tablet-breakpoint){
				height: 273px;
			}

			@media(max-width: $mobile-breakpoint) {
				height: auto;
			}

			img {
				width: 100%;
				transform: translateY(-10%);

				@media(max-width: $mobile-breakpoint){
					transform: translateY(0);
				}
			}

			h5, h4 {
				padding-left: 14%;
				padding-right: 14%;

				@media(max-width: $mobile-breakpoint) {
					padding-left: 15px;
					padding-right: 15px;
				}
			}

			h5 {
				font-family: $sans-bold;
				color: #465eaa;
				font-size: 16px;
				// margin-top: 80px;
				width: 100%;

				@media(max-width: $tablet-breakpoint){
					font-size: 8px;
					letter-spacing: 1.8px;
					margin-bottom: 0;
				}

				@media(max-width: $mobile-breakpoint){
					font-size: 10px;
				}
			}

			h4 {
				font-family: $header-bold;
				font-size: 43px;
				line-height: 51px;
				width: 100%;
				margin-top: 2px;

				@media(max-width: $tablet-breakpoint){
					font-size: 22px;
					line-height: 26px;
					letter-spacing: 0.4px;
				}

				@media(max-width: $mobile-breakpoint){
					font-size: 20px;
					line-height: 24px;
					margin-top: 9px;
				}

				&, & a {
					color: #000;
				}
			}
		}

		.carousel-control {
			width: 63px;
			height: 63px;
			
			position: absolute;
			top: 50%;
			margin-top: -31px;

			@media(max-width: $tablet-breakpoint){
				width: 54px;
				height: 54px;
			}

			&.left {
				background: url('../images/next_article_left_arrow.svg') no-repeat;
				left: -103px;

				@media(max-width: $tablet-breakpoint){
					left: -86px;
				}
			}

			&.right {
				background: url('../images/next_article_right_arrow.svg') no-repeat;
				right: -103px;

				@media(max-width: $tablet-breakpoint){
					right: -86px;
				}
			}
		}

		.img-container {
			height: 48%;
			overflow: hidden;
    		background-size: cover;
			@media(max-width: $mobile-breakpoint){
				height: 165px;
			}
		}

		.carousel-caption {
			height: 52%;
			padding: 70px 0;	

			@media(max-width: $tablet-breakpoint){
				padding-top: 35px;
			}

			@media(max-width: $mobile-breakpoint){
				padding-top: 16px;
				padding-bottom: 11px;
				min-height: 98px;
			}
		}

	}
}

section.module-dual-column-bullet-lists {
	margin:70px 0px;

	@media(max-width: $tablet-breakpoint){
		margin: 60px 0px;
	}

	@media(max-width: $mobile-breakpoint){
		margin: 40px 0px;
	}

	.inner-container {
		padding-top: 0;
		padding-left: 50px;
		padding-right: 0;
		padding-bottom: 0;
		width: 752px;
		@include clearfix;

		@media(max-width: $tablet-breakpoint){
			width: 605px;
			padding: 0px 65px;
		}

		@media(max-width: $mobile-breakpoint){
			width: 100%;
			padding-left: 15px;
    		padding-right: 15px;
		}

		.single-column {
			width: 35%;
			margin-left: 100 - 35 - 42%;
			float: left;

			&:first-child {
				width: 42%;
				margin-left: 0;

				@media(max-width: $tablet-breakpoint){
					width: 100%;
					margin-bottom: 40px;
				}

				@media(max-width: $mobile-breakpoint){
					margin-bottom: 20px;
				}
			}

			@media(max-width: $tablet-breakpoint){
				float: none;
    			display: block;
    			margin: auto;
    			width: 100%;
    			clear: both;
			}
		}

		.column-title {
			font-family: $sans-bold;
			font-size: $font-size-large;
			line-height: 22px;
			color: #000100;
			position: relative;
			max-width: 245px;
			float: left;

			img {
				position: absolute;
				top: 50%;
				left: -110px;
				transform: translate(0, -40%);

				@media(max-width: $tablet-breakpoint){
    				left: 0;
    				transform: none;
    				top: 40px;
				}
				@media(max-width: $mobile-breakpoint){
					display: none;
				}
			}

			@media(max-width: $tablet-breakpoint){
				max-width: none;
				font-size: 17px;
				float: none;
			}

			@media(max-width: $mobile-breakpoint){
				font-size: 15px;
    			line-height: 22px;
			}
		}

		ul {
			float: left;
			clear: left;
			margin-top: 28px;
			margin-left: 0;
			padding-left: 55px;
			width: 100%;

			@media(max-width: $tablet-breakpoint){
				margin-top: 15px;
				float: none;
				clear: none;
				padding-left: 120px;
			}

			@media(max-width: $mobile-breakpoint){
				float: none; 
				padding-left: 40px;
			}

			li {
				list-style-type: disc;
				font-family: $sans;
				font-size: $font-size-large;
				line-height: 36px;
				color: #000100;

				@media(max-width: $tablet-breakpoint){
					font-size: 17px;
    				line-height: 30px;
				}

				@media(max-width: $mobile-breakpoint){
					font-size: 15px;
    				line-height: 21px;
				}
			}
		}
	}
}

section.module-map {
	margin:70px 0px;
	position: relative;

	@media(max-width: $mobile-breakpoint){
		display: none;
	}

	.food-items {
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		@include clearfix;

		li {
			float: left;
			list-style: none;
			width: 16.66%;
			height: 44px;
			text-align: center;

			.module-map-food-name {
				font-family: $sans-bold;
				font-size: 14px;
				color: #3e5bc1;
				text-transform: uppercase;
				letter-spacing: 2.6px;
				line-height: 48px;
				display: block;
				width: 100%;
				height: 100%;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}

				&.active {
					background-color: #3e5bc1;
					color: #fff;
				}
			}
		}
	}

	#map-modal {
		position: absolute;
		z-index: 90;
		width: 650px;
		height: 280px;
		top: 449px;
		left: 50%;
		margin-left: -325px;
		background-color: rgba(255, 255, 255, 0.9);
		@include groundwork-shadow;
		opacity: 0;
		display: none;
		@include transition(opacity .2s linear);

		.modal-dialog {
			padding-top: 22px;
			padding-left: 25px;
			height: 280px;
			@include clearfix;
		}

		&.in {
			opacity: 1;
		}

		.map-modal-image {
			width: 160px;
			height: 160px;
			float: left;
		}

		h3, p, .map-modal-mini-divider {
			margin-left: 53px;
		}

		h3, p {
			width: 335px;
		}

		h3 {
			float: left;
			clear: right;
			font-family: $sans-bold;
			font-size: 18px;
			color: #000;
			letter-spacing: 3.1px;
			margin-top: 11px;
		}

		.map-modal-mini-divider {
			width: 72px;
			height: 2px;
			background-color: #3e5bc4;
			float: left;
			margin-top: 23px;
		}

		p {
			float: left;
			font-size: 16px;
			line-height: 20px;
			color: #464646;
			letter-spacing: 0px;
			margin-top: 26px;

			a {
				color: #475eab;
			}
		}

		.map-modal-location-label {
			float: left;
			clear: left;
			font-family: $sans-bold;
			font-size: 9px;
			color: #3e5bc1;
			text-transform: uppercase;
			letter-spacing: 1.6px;
			margin-top: 22px;
		}

		.map-modal-countries {
			float: left;
			clear: left;
			width: 96%;
			margin: 0;
			font-size: $font-size-medium;
			color: #010101;
			line-height: 21px;
			letter-spacing: 0px;
			margin-top: 8px;

			&[data-food-name='Corn'] {
				font-size: 12px;
				line-height: 19px;
				margin-top: 5px;
			}
		}

		.close {
			background: url('../images/modal_close_button.png') no-repeat;
			width: 32px;
			height: 32px;
			border: none;
			cursor: pointer;
			position: absolute;
			top: 21px;
			right: 21px;
		}
	}

	svg {
		margin: 0 auto;
		display: block;
		max-width: 1020px;
		width: 90%;
		margin-top: 29px;

		g {
			fill: #f0f1f1;

			path, image, polygon, polyline {
				display: none;
				stroke-miterlimit: 10;
				stroke-width: 2px;
			}

			&#header path, .part-of-base-map {
				display: block;
				stroke: #bbbdbf;
			}

			&.active {
				path, polygon, polyline {
					display: block;
					fill: #bbbdbf;
					stroke: #bbbdbf;
				}

				image {
					display: block;
				}
			}
		}
	}
}


