.about-container {
	.inner-container {
		background-color: transparent;
	}

	.inner-container-with-side-items {
		position: relative;

		.social-icons {
			position: absolute;
			top: 138px;
			right: -147px;

			@media screen and ( max-width: 1050px ) {
				right: -70px;
			}

			@media(max-width: $tablet-breakpoint) {
				display: none;
			}

			.border, .social-icon {
				float: left;
				clear: left;
			}

			.border {
				background-color: #fffeff;
				height: 208px;
				width: 2px;
				margin-bottom: 19px;
				display: none;
			}

			.social-icon {
				margin-right: 0;
				margin-bottom: 24px;

				&.fb {
					margin-left: -5px;
				}

				&.twitter {
					margin-left: -9px;
				}
			}
		}
	}

	.module-blockquote-centered {
		@media(max-width: $tablet-breakpoint) {
			margin-top: 10px;
			margin-bottom: 0;
		}
	}

	.module-text {
		@media(max-width: $tablet-breakpoint) {
			margin-top: 0;
			margin-bottom: 0;
		}

		.inner-container {
			padding-top: 45px;
			padding-bottom: 21px;
		}

		&:first-child .inner-container {
			padding-top: 40px;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 240px;

			@media(max-width: $tablet-breakpoint) {
				padding-bottom: 90px;
			}

			@media(max-width: $mobile-breakpoint) {
				padding-bottom: 50px;
			}
		}

		&__contact {
			display: block;
    		width: 200px;
    		text-align: center;
			text-transform: uppercase;
			padding: 10px 20px;
			margin: 60px auto;
			font-family: $header-bold;
			font-size: 18px;
			letter-spacing: 3px;
			color: #fff;
			border: 3px solid #fff;
			cursor: pointer;
			@include transition(.5s all);
			
			&:hover {
				border-color: #fff;
				background-color: #fff;
				
				a {
					color : $groundwork-blue;
					text-underline: none;
				
				}
			}

			a:hover {
				text-decoration: none; 
				opacity: initial;
			}
			
			@media(max-width: $tablet-breakpoint) {
				font-size: 12px;
				border-width: 1px;
				

			}
			

			
		

		}
	}

	p, h1, strong, a, span {
		color: #fff;
	}

	h1 {
		font-family: $serif;
		font-size: 38px;
		line-height: 52px;
		letter-spacing: 0.6px;
		margin-top: 80px;

		@media(max-width: $tablet-breakpoint) {
			font-size: 34px;
			float: left;
			margin-top: 43px;
			margin-left: 56px;
		}

		@media(max-width: $mobile-breakpoint) {
			font-size: 19px;
			margin-bottom: 27px;
			text-align: center;
			margin-left: 0;
			width: 100%;
			line-height: 27px;
		}
	}

	p {
		line-height: 36px;
		letter-spacing: 0.2px;

		@media(max-width: $tablet-breakpoint) {
			clear: left;
			line-height: 29px;
		}
	}

	blockquote p {
		line-height: 59px;

		@media(max-width: $mobile-breakpoint) {
			line-height: 27px;
		}
	}

	.link-with-arrow {
		background: url('../images/about_arrow.svg') center right no-repeat;
		padding-right: 100px;
		line-height: 22px;
		height: 22px;
		float: right;
		margin-top: 10px;

		@media(max-width: $mobile-breakpoint) {
			height: 18px;
			line-height: 18px;
			padding-right: 80px;
		}
	}
}


.about-groundwork-container {
	background-color: #f0f1f2;

	.module-text {
		&:first-child {
			margin-top: 0px;
		}

		&:last-child {
			@media(max-width: $tablet-breakpoint) {
				padding-bottom: 70px;
			}
		}
	}

	.inner-container-with-side-items {
		.tetrahedron-graphic {
			background: url('../images/tetrahedron_graphic.svg') no-repeat;
			width: 268px;
			height: 270px;
			position: absolute;
			top: 127px;
			left: -235px;

			@media(max-width: $tablet-breakpoint) {
				width: 164px;
				height: 165px;
				position: static;
				float: left;
				margin-top: 19px;
				margin-bottom: 20px;
			}

			@media(max-width: $mobile-breakpoint) {
				width: 124px;
				height: 124px;
				position: relative;
				top: 0;
				left: 50%;
				margin-top: 4px;
				margin-left: -62px;
			}
		}

		.social-icons {
			.border {
				background-color: #4661ad;
			}

			.social-icon {
				&.fb {
					background-image: url('../images/facebook_about_groundwork.svg');
				}

				&.twitter {
					background-image: url('../images/twitter_about_groundwork.svg');
				}
			}
		}
	}

	.inner-container {
		width: 700px;

		@media(max-width: $mobile-breakpoint) {
			width: 100%;
		}
	}

	p, h1, strong, a {
		color: #4661ad;
	}

	h1 {
		width: 350px;
		margin-top: 22px;

		@media(max-width: $mobile-breakpoint) {
			display: block;
			width: 100%;
		}
	}

	p.strong {
		padding-top: 47px;
		padding-bottom: 0;
		font-weight: normal;
		font-family: $sans-bold;
		letter-spacing: 0.8px;

		@media(max-width: $tablet-breakpoint) {
		  padding-top: 20px;
		}

		@media(max-width: $mobile-breakpoint) {
			font-size: 14px;
		}

		& + p {
			padding-top: 12px;
		}
	}
}

.about-tetra-pak-container {
	background-color: #3e5bc5;

	.inner-container {
		width: 730px;

		@media(max-width: $mobile-breakpoint) {
			width: 100%;
		}
	}

	.inner-container-with-side-items {
		.tetrapak-logo {
			background-image: url('../images/tetrapak_about_logo.svg');
			width: 146px;
			height: 146px;
			position: absolute;
			top: 134px;
			left: -135px;

			@media screen and ( max-width: 1025px ) {
				left: -110px;
			}

			@media(max-width: $tablet-breakpoint) {
				width: 163px;
				height: 163px;
				position: static;
				float: left;
				margin-top: 19px;
				margin-bottom: 20px;
			}

			@media(max-width: $mobile-breakpoint) {
				width: 110px;
				height: 110px;
				position: relative;
				top: 0;
				left: 50%;
				margin-top: 9px;
				margin-left: -55px;
			}
		}
	}

	.module-text {
		p {
			width: 98%;
		}

		&.module-text-pre-founder-quote p {
			width: 94%;

			@media(max-width: $tablet-breakpoint) {
				width: 100%;
			}
		}
	}


	h1 {
		line-height: 62px;

		@media(max-width: $mobile-breakpoint) {
			line-height: 27px;
		}
	}

	.module-blockquote-with-image {
		margin-left: -183px;

		@media screen and ( max-width: 1200px ) {
			margin-left: 0;
		}

		@media(max-width: $tablet-breakpoint) {
			margin-top: 0;
			margin-bottom: 0;
		}

		.inner-container {
			width: 1020px;
			margin-top: 60px;
			margin-bottom: 38px;

			@media screen and ( max-width: 1030px ) {
				width: 100%;
			}

			@media(max-width: $tablet-breakpoint) {
				width: 600px;
				margin-top: 0;
				margin-bottom: 0;

				blockquote p {
					text-align: left;
				}

				.blockquote-image-container {
					margin-top: 45px;
				}
			}

			@media(max-width: $mobile-breakpoint) {
				width: 90%;

				blockquote p {
					line-height: 27px;
					text-align: center;
				}

				.blockquote-image-container {
					margin-top: 25px;
				}
			}

			.mini-divider {
				background-color: #fff;

				@media(max-width: $mobile-breakpoint) {
					width: 47px;
					margin: 7px 0;
				}
			}

			.image-title {
				top: 55%;

				@media(max-width: $tablet-breakpoint) {
					text-align: right;
				}

				@media(max-width: $mobile-breakpoint) {
					text-align: center;
				}

				span {
					letter-spacing: 3.3px;

					@media(max-width: $tablet-breakpoint) {
						font-size: 16px;
						letter-spacing: 2.5px;
					}

					@media(max-width: $mobile-breakpoint) {
						font-size: 11px;
						letter-spacing: 1.1px;
					}
				}

				.image-caption {
					color: #fff;
					letter-spacing: 0.7px;

					@media(max-width: $tablet-breakpoint) {
						font-size: 14px;
						letter-spacing: 0.3px
					}

					@media(max-width: $mobile-breakpoint) {
						letter-spacing: -0.8px;
					}
				}
			}


		}
	}

	.module-blockquote-centered {
		.inner-container {
			width: 500px;

			@media(max-width: $mobile-breakpoint) {
				width: 90%;
			}

			blockquote p {
				line-height: 62px;

				@media(max-width: $mobile-breakpoint) {
					line-height: 27px;
				}
			}
		}
	}

	.module-blockquote-centered-very-small .inner-container {
		width: 400px;

		@media(max-width: $mobile-breakpoint) {
			width: 60%;
		}

		blockquote p {
			line-height: 68px;

			@media(max-width: $mobile-breakpoint) {
				line-height: 27px;
			}
		}
	}

	.about-tetra-pak-packaging-images {
		background-image: url('../images/about_packaging_illustration.png');;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 990px;
		height: 279px;
		margin-top: 34px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 22px;

		@media screen and ( max-width: 1030px ) {
			width: 960px;
			height: 270px;
		}

		@media(max-width: $tablet-breakpoint) {
			width: 90%;
			height: auto;
			max-width: 654px;
			@include aspect-ratio(990, 279);
		}

		@media(max-width: $mobile-breakpoint) {
			width: 87%;
		}
	}

	.link-with-arrow {
		margin-top: 0;
	}
}


.about-tab-content {
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: 100;

	@media(max-width: $tablet-breakpoint) {
		top: 102px;
	}

	@media(max-width: $mobile-breakpoint) {
		top: 70px;
	}

	> .tab-pane {
		display: none;
	}

	> .active {
		display: block;
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////// HOMEPAGE //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////

.page-template-page-home {

	section:last-of-type  {
		margin-bottom: 122px;
		
		@media(max-width: $tablet-breakpoint) {
			margin-bottom: 22px;
		}
		
		@media(max-width: $mobile-breakpoint) {
			margin-bottom: 93px; 
		}
		
	}

}

a.read-more-button{
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-family: $header-bold;
	font-size: 18px; 
	letter-spacing: 3px; 
	color: $groundwork-blue;
	border: 3px solid $groundwork-blue;
	@include transition( .25s, all, 0s, ease-in-out);
		
		&:hover {
			background: $groundwork-blue;
			color: white;
			opacity: 1.0;
			text-decoration: none;
		}
}

section.homepage-hero{
    
    margin: auto;
    position: relative;
    
    @media(max-width: $tablet-breakpoint){ 
		text-align: center;
    }

   

    h1{
    	color: #201d1e;
		font-size: 60px;
		line-height: 72px;
		font-family: $hero-bold;
		top: 253px;
    	left: 660px;
    	width: 660px;
    	position: absolute;
    	z-index: 1;

    	@media(max-width:1300px){
			top: 199px;
			left: 448px;
			width: 660px;
			font-size: 45px;
			line-height: 50px;
    	}

    	@media(max-width: $tablet-breakpoint){ 
			font-size: 31px;
			line-height: 37px;
			top: 48px;
			left: 185px;
			text-align: left;
    	}

    	@media(max-width: $mobile-breakpoint +1 ){
    		width: 380px;
    	}

    	@media(max-width: $mobile-breakpoint){
    		position: initial;
    		text-align: center; 
    		display: inline-block;
    		margin-top: 0;
    		top: initial;
    		left: initial;
    		width: initial; 
    		font-size: 34px;
    	}

    }
    .tetra-animation-container{
        width: 1101px;
    	height: 797px;
    	margin: auto;
    	display: block;
    	position: absolute;
    	left:-20px;

    	@media(max-width: 1300px){
			width: 777px;
			height: 645px;
			left: -101px;
    	}

    	@media(max-width: $tablet-breakpoint){
    		background: url(../images/Tetrahedron.svg) no-repeat;
    		width: 207px;
			height: 208px;
			background-size: 206px;
			top: 47px;
			left: 0px;
    	}


    	@media(max-width: $mobile-breakpoint){
    		position: initial; 
    		margin-top: 15px;
    		margin-bottom: 15px;
    	}



    	img, video{
    		position: absolute;
    	}

    	img {

    		@media(max-width: $tablet-breakpoint){
    			display: none;		
    		}
    		
    	}

    	video{
    		left: 9px;
    		bottom: 41px;
    		
    		@media(max-width: 1300px){
    			left: 9px;
    			bottom: 41px;
    			///* support sfari browser rendering.
				@supports (overflow:-webkit-marquee) and (justify-content:inherit){
			  
			    	bottom: -41px;

				}
    			width: 593px;
    		}

    		@media(max-width: $tablet-breakpoint){
    			display: none;		
    		}
    	}
    }

    .hero-container{
    	position: relative;
    	width: 1300px;
    	padding-bottom: 140px;
    	margin: auto;
    	height: 891px;

    	@media(max-width: 1300px){
    		width: 980px;
    		top: -32px;
    		height: 620px;
    	}

    	@media(max-width: $tablet-breakpoint){
    		padding-bottom: 0;
    		top: 0;
			width: 665px;
			height: 312px;
			display: inline-block;
    	}

    	@media(max-width: $mobile-breakpoint){
    		height: 100%;
    		width: 100%;
    		padding: 28px 15px;
    	}

    	h1 {
    		@media(max-width: $mobile-breakpoint){
    			max-width: 400px;
    			
    		}

    		br {
    			@media(max-width: $mobile-breakpoint){
    				display: none;
    			}
    			
    		}
    		

    	}




    }

    .groundwork-info-container{
    	width: 440px;
    	position: absolute;
    	left: 796px;
    	top: 397px;
    
    	@media(max-width: 1300px){
			width: 442px;
			position: absolute;
			left: 506px;
			top: 302px;   
     	}

     	@media(max-width: $tablet-breakpoint){
    		left: 247px;
    		top: 139px;
    		
    	}

    	@media(max-width: $mobile-breakpoint){
    		position: initial;
    		display: inline-block;	
    	}

    	@media(max-width: 500px){
    		width: 100%;
    	}




    	p{
			color: grey;
			font-family: $serif;
			font-size: 19px;
			font-weight: 400;
			line-height: 31px;
			margin: 40px 0px;
			
			@media(max-width: $tablet-breakpoint){
				font-size: 14px;
				margin: 20px 0;
				line-height: 22px;
				text-align: left;
			}

			@media(max-width: $mobile-breakpoint){
				text-align: center; 
				font-size: 18px;
				line-height: 27px;
			}

			&:last-child {	
				@media(max-width: $mobile-breakpoint){
					margin-bottom: 0;
				}
			}
    	}
    }

   	.vertical-explore-arrow-container{
		
		position: absolute;
		right: 0;
		bottom: 10px;
		@media(max-width: 1300px){
    		display: none;
    	}

   		.vertical-explore-arrow{
   			background: url('../images/explore_arrow_vertical.svg') center center no-repeat;
   			width: 22px;
   			height: 90px;
   			clear: both;
    		position: relative;
    		left: 16px;
    		top: 37px;
   		}
   		span{
   			display: inline-block;
   			@include transform(rotate(270deg));
   			color: $groundwork-blue;
   			font-family: $sans-bold;
   			text-transform: uppercase;
   			font-size: 11px;
   			letter-spacing: 1px;
   		}
   	}
}

.content-card {
	&__read {

		@include transition( .25s, all, 0s, ease-in-out);
		&:hover {
			
			background: $groundwork-blue;
			
			a {
				color: #fff;
				text-decoration: none;
				opacity: initial; 
			}
			
		}

	}
}

.full-post {

    margin-top: 40px;
    margin-bottom: 40px;
    
    @media(max-width: $tablet-breakpoint){
    	margin: 20px 0;
    	background-size: cover;
		background-position: top right;
		height: 224px;
		width: 560px;
		position: relative;
    }

    @media(max-width: $mobile-breakpoint){
    	height: 219px;
    	width: 100%;
    }
    
    .wrapper {
    	@media(max-width: $tablet-breakpoint){
    		position: absolute;
    		top: 50%;
    		@include transform( translateY(-50%) );
    		width: 1000px;
    	}

    	@media(max-width: $mobile-breakpoint +1 ){
    		width: 522px;
    		left: 73px;
    	}

    	@media(max-width: $mobile-breakpoint){
    		width: 100%;
    		left: initial;
    		top: 100%;
    		text-align: center;
    		
    	}


    	

    }
    
    .content-card {
    	background: #fff;
    	padding-top: 52px;
    	padding-bottom: 52px;
    	margin-top: 105px;
    	margin-bottom: 105px;
    	max-width: 680px;
    	
    	&__content {
    		h1 {
	    		a {
	    			color: black;
	    		}
    		}

    		@media(max-width: $mobile-breakpoint){
    			width: initial;
    		}


    	}
    	
    	@media(max-width: $tablet-breakpoint){
    		margin-left: 0;
    		margin-top: 0;
    		margin-bottom: 0;  
    		float: none;
    		padding-right: 0;
    		padding-left: 0;
    		padding-top: 20px;
    		padding-bottom: 20px;     
    		position: relative;
    		left: 30%;
    		width: 100%;
			-webkit-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
			-moz-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
			box-shadow : 0px 0px 14px rgba(1, 1, 1, 0.26);
			filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#010101') ;

    	}

    	@media(max-width: $mobile-breakpoint){
    		left: 0;
    		max-width: 400px;
    		display: inline-block;
    		height: 138px;
    	}

    	@media(max-width: 500px){
    		max-width: 290px;
    	}

    	&__content {
    		@media(max-width: $tablet-breakpoint){
    			float: none;
    			margin-left: 33px;
    		}

    		@media(max-width: $mobile-breakpoint){
    			margin-left: 0;
    			text-align: center;	
    		}
    	}
    	

    	h3 {
    		letter-spacing: 2.5px; 
    		
    		@media(max-width: $tablet-breakpoint){
    			font-size: 12px;	
    		}

    		@media(max-width: $mobile-breakpoint){
    			margin: 8px 0 17px;
    		}
    		
    	}

    	h1 {
    		font-size: 39px;
    		
    		br {
    			@media(max-width: $tablet-breakpoint){
    				display: none;
    			}
    			
    		}
    		
    		@media(max-width: $tablet-breakpoint){
    			font-size: 18px;
    			margin-bottom: 0;
    			margin-top: 0; 
    		}
			
			@media(max-width: $mobile-breakpoint){
				font-size: 23px;
				margin-bottom: 3px;
				line-height: 29px;
				padding: 0 50px;
			}

			@media(max-width: 500px){
				font-size: 20px;
				padding: 0 20px;
			}
    	
    	}
    	
    	h2 {
			font-family: $serif;
			font-size: 19px;
			color: $light-grey;
			line-height: 32px;
			max-width: 450px;
			margin-bottom: 32px;
			
			@media(max-width: $tablet-breakpoint){
				font-size: 14px;
				line-height: 22px;
				margin-bottom: 12px;
				max-width: 500px;
			}

			@media(max-width: 850px){
				padding-right: 100px;
			}

			@media(max-width: $mobile-breakpoint + 1 ){
				padding-right: 0; 
			}
			@media(max-width: $mobile-breakpoint){
				display: none;
			}

    	}
    	
    	&__read {
    		display: inline-block;
    		text-transform: uppercase;
    		padding: 10px 20px;
    		font-family: $header-bold;
    		font-size: 18px; 
    		letter-spacing: 3px; 
    		color: $groundwork-blue;
    		border: 3px solid $groundwork-blue;
    		
    		@media(max-width: $tablet-breakpoint){
    			font-size: 12px;
    			border-width: 1px;
    		}

    		@media(max-width: $mobile-breakpoint){
    			display: none;
    		}
    		

    	}
    }


}

.split-post {

	@media(max-width: $tablet-breakpoint){ 
		height: 224px;
		margin: 20px 0;
		// position: relative;
	}

	@media(max-width: $mobile-breakpoint){ 
		height: 219px;
		margin-top: 90px;
	}
	
	.tablet_row {
		@media(max-width: $tablet-breakpoint){ 
			height: 224px;
		}

		@media(max-width: $mobile-breakpoint){ 
			text-align: center;
			height: 219px;
		}
	}
	
	&.left {
		.split-post__img {
			margin-top: -70px;
			left: 40px;
			@media(max-width: $tablet-breakpoint){ 
				left: 0;
				position: absolute;
    			top: 70px;
			}
			
		}

		.content-card {
			@media(max-width: $mobile-breakpoint){ 
				position: absolute;
    			top: 67%;
    			left: 50%;
    			transform: translateX(-50%);
			}
			
		}

		@media(max-width: $mobile-breakpoint){ 
			margin-bottom: 87px;
		}

	}

	&__img {
	    height: 650px;
	    overflow: hidden;
	    
	    @media(max-width: 1300px){
			left: 20px;
		}
	    
	    @media(max-width: $tablet-breakpoint){ 
	    	left: initial;
			height: 224px;
    		width: 560px;
    		position: relative;
    		margin-left: 0;
	    }

	    @media(max-width: $mobile-breakpoint){ 
			width: 100%;
			height: 219px;
	    }

	}

	.wrapper {
		@media(max-width: 1300px){
			max-width: 960px;
		}
	}

	.row {
		@media(max-width: $tablet-breakpoint){
			position: relative;	
		}
		
	}

	.content-card {
		background: #fff;
		padding-top: 52px;
		padding-bottom: 52px;
		margin-top: 50px;
		max-width: 680px; 
		-webkit-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
		-moz-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
		box-shadow : 0px 0px 14px rgba(1, 1, 1, 0.26);
		filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#010101') ;
		z-index: 1;
		
		&__content {
    		h1 {
	    		a {
	    			color: black;
	    		}
    		}
    		
    		@media(max-width: $mobile-breakpoint){
    			width: initial;
    		}
    	}
    	
		
		@media(max-width: $tablet-breakpoint){

    		padding: 20px 0;   
    		margin-top: 0; 	
			width: 100%;
    		float: right;
    		margin-left: 0;    		
    		left: 300px;

    		position: absolute;
    		top: 50%;
    		@include transform ( translateY(-50%) );

    	}

    	@media(max-width: $mobile-breakpoint + 1 ){
    		width: 522px;
    		left: 230px;
    	}

    	@media(max-width: $mobile-breakpoint){
    		float: none;
    		margin-left: 0;
    		max-width: 400px;
    		left: 0;
    		display: inline-block;
    		position: relative;
    		height: 138px;
    	}

    	@media(max-width: 500px){
    		max-width: 290px;
    	}


		
		&__content {
    		@media(max-width: $tablet-breakpoint){
    			float: none;
    			margin-left: 33px;
    		}

    		@media(max-width: $mobile-breakpoint){
    			margin-left: 0;
    			text-align: center;
    		}
    		
    	}

		
		h3 {
    		letter-spacing: 2.5px; 
    		
    		@media(max-width: $tablet-breakpoint){	
    			font-size: 12px;	
    		}

    		@media(max-width: $mobile-breakpoint){
    			margin: 8px 0 17px;
    		}

    	}

    	h1 {
    		font-size: 39px;
    		
    		br {
    			@media(max-width: 1300px){
    				display: none;
    			}
    			
    		}

    		@media(max-width: $tablet-breakpoint){
    			font-size: 18px;
    			margin-bottom: 0;
    			margin-top: 0; 
    		}

    		@media(max-width: $mobile-breakpoint){
				font-size: 23px;
				margin-bottom: 3px;
				line-height: 29px;
				padding: 0 50px;
			}

			@media(max-width: 500px){
				font-size: 20px;
				padding: 0 20px;
			}


    	}
    	
    	h2 {
			font-family: $serif;
			font-size: 19px;
			color: $light-grey;
			line-height: 32px;
			max-width: 450px;
			margin-bottom: 32px;
			
			@media(max-width: $tablet-breakpoint){
				font-size: 14px;
				line-height: 22px;
				margin-bottom: 12px;
				max-width: 500px;
			}

			@media(max-width: 850px){
				padding-right: 100px;
			}

			@media(max-width: $mobile-breakpoint + 1 ){
				padding-right: 0; 
			}

			@media(max-width: $mobile-breakpoint){
				display: none;
			}
    	}
    	
    	&__read {
    		display: inline-block;
    		text-transform: uppercase;
    		padding: 10px 20px;
    		font-family: $header-bold;
    		font-size: 18px; 
    		letter-spacing: 3px; 
    		color: $groundwork-blue;
    		border: 3px solid $groundwork-blue;
    		
    		@media(max-width: $tablet-breakpoint){
    			font-size: 12px;
    			border-width: 1px;
    		}

    		@media(max-width: $mobile-breakpoint){
				display: none;
			}
    	}


	}




}


//////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////// 404 //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////

.error404 {
	
	background: url(../images/404/PNG/TP_404_desktop.png) no-repeat center center fixed;
	background-image: url(../images/404/SVG/TP_404_desktop.svg), none; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	
	.error {
		
		min-height: calc(100% - 341px);
		position: relative;
	
		&__container{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center; 
		}

		@media(max-width: 500px){
			min-height: initial;
			width: 100%;
			height: 100%;

		}

	}

	h1 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	p {
		font-family: $serif;
		color: $light-grey;
	}

	#page-footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		
		@media(max-width: 500px){
			position: static;	
		}
	}
	
}









