body, html {
	
}

html {
	height: 100%;
}

body {
	min-height: 100%;

	font-family: $sans;
	font-size: $font-size-large;

	color: $medium-grey;

	&.grid-nav-content-visible {
		overflow: hidden;
	}
}

// Default link styles

a{
	color: $groundwork-blue;
	@include transition (opacity 0.2s linear);
	text-decoration: none;
	&:hover{
		text-decoration: underline;
		opacity: 0.7;
	}
}

b{
	font-family: $sans-bold;
	font-weight: normal;
}

// Default header styles

h1{
	font-size: $font-size-extra-jumbo;
	font-family: $header-bold;
	color: black;
	line-height: 50px;
    margin: 15px 0px 25px;

    @media(max-width: $tablet-breakpoint){
    	font-size: 31px;
		line-height: 37px;
    }

    @media(max-width: $mobile-breakpoint){
		font-size: 20px;
		line-height: 24px;
		margin: 15px 0px;
    }
}

h3{
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: $sans-bold;
	color: $groundwork-blue;

	@media(max-width: $mobile-breakpoint){
		letter-spacing: 1px;
	}
}


h5{
	font-family: $sans-bold;
	font-size: $font-size-extra-tiny;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin-bottom: 11px;
	line-height: 14px;
	color: grey;
}

// Default text styles

p, ul, ol{
	font-family: $sans;
	font-size: $font-size-large;
	line-height: 34px;
	color: $medium-grey;

	@media(max-width:$tablet-breakpoint){
		//TODO: Make variables for tablet font sizes.
		font-size: 17px;
		line-height: 29px;
	}

	@media(max-width:$mobile-breakpoint){
		font-size: 15px;
    	font-weight: 300;
    	line-height: 22px;
	}
	
}

ul, ol{
	// list-style: inherit;
    margin-left: 45px;
}

blockquote {
	p{
		font-family: $serif;
		font-size: $font-size-jumbo;
		line-height: 59px;
		color: #000;
		text-align: center;
		padding: 0px;

		@media(max-width: $small-desktop-breakpoint){
			font-size: 34px;
			line-height: 55px;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 19px;
			line-height: 27px;
		}
	}
}

// Styles used on all story modules

@mixin module-section{
  margin: 70px 0px;

  @media(max-width: $tablet-breakpoint) {
    margin: 60px 0px;
  }

  @media(max-width: $mobile-breakpoint){
  	margin: 40px 0px;
  }
}

// Social links
.mini-share-module{
	text-align: right;
	// TODO: Find a way to make the paragraphs act more consistently to remove the need for this.
    margin-top: -20px;
	.social-links{
		display: inline-block;
		border-top: 2px solid $groundwork-blue;
		padding-top: 17px;

		@media(max-width: $mobile-breakpoint){
			border-top: 2px solid #3e5bc2;
    		padding-top: 13px;
		}

		.social-icon.twitter{
			margin-right: 0px;
		}
	}

}

// Social icons

.social-icon{

		display: inline-block;
		margin-right: 24px;

		@media(max-width: $mobile-breakpoint){
			margin-right: 14px;
		}

		&.fb{
			width: 9px;
			height: 16px;
			background: url('../images/facebook.svg') center center no-repeat;

			&.fb-white {
				background-image: url('../images/facebook_white.svg');
			}
		}

		&.twitter{
			width:17px;
			height: 14px;
			background: url('../images/twitter.svg') center center no-repeat;

			&.twitter-white {
				background-image: url('../images/twitter_white.svg');
			}
		}

		&.email{
			width:17px;
			height: 15px;
			background: url('../images/email.svg') center center no-repeat;
			
		}
}

a.explore-link-module{

	display: inline-block;
	width: 100%;
	
	img {
		height: 23px;
		vertical-align: middle;
		padding-left: 20px;

		@media(max-width: $mobile-breakpoint){
			height: 17px;
    		vertical-align: middle;
    		padding-left: 8px;
		}
	}

	&:hover{
		span.explore-link, span.explore-text{
			opacity: 0.7;
		}
	}
}

span.explore-text{
	font-style: italic;
	display: block;
	font-family: $sans;
	font-size: $font-size-large;
	line-height: 34px;
	@include transition (.2s all);

	img {
		height: 23px;
		vertical-align: middle;
		padding-left: 20px;

		@media(max-width:$small-desktop-breakpoint){
			height: 21px;
			position: relative;
    		top: -1px;
		}
	}

	br{
		@media(max-width: $mobile-breakpoint){
			display: none;
		}
	}

	@media(max-width:$tablet-breakpoint){
		font-size: 17px;
		line-height: 29px;
	}
	
	@media(max-width:$mobile-breakpoint){
		font-size: 15px;
    	line-height: 22px;
	}
}

span.explore-link{
	font-family: $sans-bold;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 23px;
    letter-spacing: 2px;
	margin-bottom: 11px;
	@include transition (.2s all);
	float: right;

	@media(max-width: $small-desktop-breakpoint){
		font-size: 11px;
		line-height: 13px;
	}

	@media(max-width: $mobile-breakpoint){
		font-size: 9px;
    	line-height: 11px;
    	margin-top: 10px;
	}
}

.tetrapak-logo{
	display: inline-block;
	width: 94px;
	height: 14px;
	background: url('../images/tetrapak_logo.svg') center center no-repeat;	

	// TODO: Move these or eliminate the need for them:
	margin-top: 2px;
    margin-bottom: 5px;

	&.tetrapak-logo-white {
		background-image: url('../images/tetrapak_logotype_white.svg');
	}
}

// Centered images entered in the WordPress WYSIWYG editor

img.aligncenter{
	display: block;
    margin: auto;
}

// Little dividing lines and other UI cues used throughout

.mini-divider{
	width: 70px;
	height: 3px;
	background-color: black;
	margin: 20px 0px;
	display: inline-block;

	@media(max-width: $tablet-breakpoint){
		width: 60px;
    	height: 2px;
	}

	@media(max-width: $mobile-breakpoint){
    	margin: 15px 0px;
	}
}

// Featured exhibit styles
.featured-exhibit{
	h3 {
		font-size: 13px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 2px;

		@media(max-width: $tablet-breakpoint){
			font-size: 12px;
			line-height: 17px;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 9px;
    		line-height: 13px;
		}
	}

	h2 {
		font-family: $serif;
		font-size: 28px;
    	line-height: 36px;
   		margin-top: 13px;
		color: #000;

		@media(max-width: $tablet-breakpoint){
			font-size: 25px;
			line-height: 32px;
			margin: 17px 0px 8px;
		}

		@media(max-width: $mobile-breakpoint){
			margin: 10px 0px 3px;
			font-size: 20px;
    		line-height: 30px;
		}
	}

	h4 {
		font-size: $font-size-medium;
	}

	.mini-divider {
		background-color: $groundwork-blue;
	}

	.inner-container {
		padding: 0px 65px 0px 65px;

		@media(max-width:$tablet-breakpoint){
			padding: 0px;
			text-align: center;
		}

		// Remove manually added linebreaks in text headers
		@media(max-width: $mobile-breakpoint){
			b{
				br{
					display: none;
				}
			}
		}
	}

	.inner-container p {
		padding-top: 0px;
		width: 85%;
		max-width: 690px;	

		@media(max-width: $tablet-breakpoint){
			margin: auto;
		}

		@media(max-width: $mobile-breakpoint){
			font-size: 12px;
    		line-height: 17px;
    		padding: 12px 0px;
		}
		
		&:last-child{
			padding-bottom: 0px;
		}
	}
}

// Modal styles

.remodal{

	@include groundwork-shadow;
	
	div.large-ingredient{
  		width: 420px;
  		height: 560px;
  		background-position: center center;
  		display: inline-block;
  		background-size: cover;

  		@media(max-width: $small-desktop-breakpoint){
  			width: 156px;
    		height: 216px;
  		}
  	}

  	.large-info-pane{
  		width: 540px;
  		display: inline-block;
  		vertical-align: top;
  		padding: 20px;

  		@media(max-width: $small-desktop-breakpoint){
  			width: 350px;
  		}

  		.supplementary-info-container, .region-image-container{
  			width: 48%;
  			display: inline-block;
  			vertical-align: top;

  			@media(max-width: $small-desktop-breakpoint){
  				display: none;
  			}
  		}

  		.region-image-container{
  			height: 170px;
  			background-position: center top;
  			background-size: contain;
  			background-repeat: no-repeat;
  		}

  		.mini-divider{
			background-color: $groundwork-blue;

			@media(max-width: $small-desktop-breakpoint){
				margin: 10px 0px;
			}
		}

		p.full-description{
			min-height: 190px;

			@media(max-width: $small-desktop-breakpoint){
				min-height: 110px;
    			font-size: 13px;
    			font-weight: 300;
    			line-height: 24px;
			}
		}
		
  		h4{
			text-transform: uppercase;
			color: black;
			font-size: $font-size-medium;
			line-height: 17px;
			font-family: $sans-bold;
			letter-spacing: 1px;
			min-height: 34px;

			@media(max-width: $small-desktop-breakpoint){
				font-size: 14px;
    			line-height: 10px;
			}
		}

		h5{
			margin-top:20px;
			color: black;
		}

		span{
			font-size: 16px;
			color: black;

			&.timeline-location{
				min-height: 35px;
				display: block;
			}
		}
  	}

  	.supplementary-info-container-tablet{
  		display: none;

  		@media(max-width: $small-desktop-breakpoint){
  			display: block;
  		}

  		div{
  			display: inline-block;
  			width: 32%;
  			vertical-align: top;
  			margin-top: 20px;
  		}

  		h5{
  			font-size: 10px;
    		line-height: 13px;
    		color: black;
  		}
  		span{
  			font-size: 13px;
			line-height: 11px;
  		}
  	}
}

.mobile-only-global {
	display: none;

	@media(max-width: $mobile-breakpoint) {
		display: block;
	}
}

.mobile-hidden {
	@media(max-width: $mobile-breakpoint) {
		display: none;
	}
}
