
// Content areas

.wrapper {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}


// Colors

$light-grey: #808080;
$medium-grey: #474647;
$dark-grey: #231F20;
$groundwork-blue: #3e5bc2;
$light-blue: #96C4E9;
$header-footer-blue: #2b3087;

// Fonts

@font-face {
  font-family: 'UniversLTStd-Bold';
  src: url('../fonts/UniversLTStd-Bold.eot');
  src: url('../fonts/UniversLTStd-Bold.woff2') format('woff2'),
       url('../fonts/UniversLTStd-Bold.woff') format('woff'),
       url('../fonts/UniversLTStd-Bold.ttf') format('truetype'),
       url('../fonts/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg'),
       url('../fonts/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('../fonts/UniversLTStd-Light.eot');
  src: url('../fonts/UniversLTStd-Light.woff2') format('woff2'),
       url('../fonts/UniversLTStd-Light.woff') format('woff'),
       url('../fonts/UniversLTStd-Light.ttf') format('truetype'),
       url('../fonts/UniversLTStd-Light.svg#UniversLTStd-Light') format('svg'),
       url('../fonts/UniversLTStd-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercubold-webfont.woff2') format('woff2'),
         url('../fonts/apercubold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noedisplay';
    src: url('../fonts/NoeTextBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$hero-bold: 'noedisplay', serif;
$header-bold: 'apercubold', 'Helvetica Neue', 'Helvetica', sans-serif;
$sans-bold: 'UniversLTStd-Bold', 'Helvetica Neue', 'Helvetica', sans-serif;
$sans: 'UniversLTStd-Light', 'Helvetica Neue', 'Helvetica', sans-serif;
$serif: 'Georgia', serif;

// Font Sizes

$font-size-extra-tiny: 9px;
$font-size-tiny: 11px;
$font-size-medium: 15px;
$font-size-large: 19px;
$font-size-extra-large: 24px;
$font-size-jumbo: 38px;
$font-size-extra-jumbo: 43px;

// Breakpoints

$mobile-breakpoint: 767px;
$small-desktop-breakpoint: 1199px;
$tablet-breakpoint: 980px;


// Mixins

@mixin transition( $transition... ) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin transition-delay( $transition-delay ) {
	-webkit-transition-delay: $transition-delay;
	-moz-transition-delay: $transition-delay;
	-ms-transition-delay: $transition-delay;
	-o-transition-delay: $transition-delay;
	transition-delay: $transition-delay;
}

@mixin transform( $transform ) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

  
@mixin transition-transform($transition...) {
	-webkit-transition: -webkit-transform $transition;
	-moz-transition: -moz-transform $transition;
	-o-transition: -o-transform $transition;
	transition: transform $transition;
}

@mixin backface-visibility($visibility) {
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	backface-visibility: $visibility;
}

@mixin animate($name, $duration, $timing, $iteration) {
   -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
     -moz-animation-timing-function: $timing;
       -o-animation-timing-function: $timing;
          animation-timing-function: $timing;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
}

@mixin transform-origin ($origin) {
	-webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;    
	-o-transform-origin: $origin;
	transition: $origin;    
}

@mixin middle {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}

@mixin vertical-middle {
  position: absolute;
  max-height: 100%;
  top: 50%;
  @include transform( translate(0, -50%) );
}


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
    	 @content;
    }
    @-moz-keyframes #{$animationName} {
		 @content;
    }
    @-o-keyframes #{$animationName} {
		 @content;
    }
    @keyframes #{$animationName} {
		 @content;
    }
}



@mixin perspective($perspective) {
	-webkit-perspective: $perspective;
	-moz-perspective: $perspective;
	perspective: $perspective;
}

@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

@mixin groundwork-shadow{
	-webkit-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
	-moz-box-shadow: 0px 0px 14px rgba(1, 1, 1, 0.26);
	box-shadow : 0px 0px 14px rgba(1, 1, 1, 0.26);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#010101') ;
}

@mixin clearfix {
	*zoom: 1;
	&:before, &:after { display: table; content: ""; }
	&:after { clear: both; }
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
	position: relative;
	$padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
	&:before { content:''; display: table-row; float: left; padding-bottom: $padding; }
	&:after  { content:''; display: table; clear: both; }
}
