.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	> .item {
		display: none;
		position: relative;
		@include transition(.6s ease-in-out left);

		// WebKit CSS3 transforms for supported devices
		@media all and (transform-3d), (-webkit-transform-3d) {
			@include transition-transform(0.6s ease-in-out);
			@include backface-visibility(hidden);
			@include perspective(1000px);

			&.next,
			&.active.right {
				@include translate3d(100%, 0, 0);
				left: 0;
			}
			&.prev,
			&.active.left {
				@include translate3d(-100%, 0, 0);
				left: 0;
			}
			&.next.left,
			&.prev.right,
			&.active {
				@include translate3d(0, 0, 0);
				left: 0;
			}
		}
	}

	> .active,
	> .next,
	> .prev {
		display: block;
	}

	> .active {
		left: 0;
	}

	> .next,
	> .prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .next {
		left: 100%;
	}
	> .prev {
		left: -100%;
	}
	> .next.left,
	> .prev.right {
		left: 0;
	}

	> .active.left {
		left: -100%;
	}
	> .active.right {
		left: 100%;
	}
}
